interactions:
- request:
    body: '{"household": {"people": {"1": {"age": {"2025": 34}, "was_in_foster_care":
      {"2025": null}, "employment_income": {"2025": 17952}, "self_employment_income":
      {"2025": 0}, "rental_income": {"2025": 0}, "taxable_pension_income": {"2025":
      0}, "social_security": {"2025": 0}, "unemployment_compensation": {"2025": 0},
      "long_term_capital_gains": {"2025": 0}, "taxable_ira_distributions": {"2025":
      0}, "ssi": {"2025": null}, "head_start": {"2025": null}}, "2": {"age": {"2025":
      3}, "was_in_foster_care": {"2025": null}, "employment_income": {"2025": 0},
      "self_employment_income": {"2025": 0}, "rental_income": {"2025": 0}, "taxable_pension_income":
      {"2025": 0}, "social_security": {"2025": 0}, "unemployment_compensation": {"2025":
      0}, "long_term_capital_gains": {"2025": 0}, "taxable_ira_distributions": {"2025":
      0}, "ssi": {"2025": null}, "head_start": {"2025": null}}}, "tax_units": {"main_tax_unit":
      {"members": ["1", "2"]}}, "families": {"family": {"members": ["1", "2"]}}, "households":
      {"household": {"members": ["1", "2"], "state_code": {"2025": "TX"}}}, "spm_units":
      {"spm_unit": {"members": ["1", "2"], "snap": {"2025": null}, "tanf": {"2025":
      null}}}, "marital_units": {}}, "version": "1.784.3"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://household.api.policyengine.org/us/calculate
  response:
    body:
      string: '{"status": "ok", "message": null, "result": {"people": {"1": {"age":
        {"2025": 34}, "was_in_foster_care": {"2025": false}, "employment_income":
        {"2025": 17952}, "self_employment_income": {"2025": 0}, "rental_income": {"2025":
        0}, "taxable_pension_income": {"2025": 0}, "social_security": {"2025": 0},
        "unemployment_compensation": {"2025": 0}, "long_term_capital_gains": {"2025":
        0}, "taxable_ira_distributions": {"2025": 0}, "ssi": {"2025": 0.0}, "head_start":
        {"2025": 0.0}}, "2": {"age": {"2025": 3}, "was_in_foster_care": {"2025": false},
        "employment_income": {"2025": 0}, "self_employment_income": {"2025": 0}, "rental_income":
        {"2025": 0}, "taxable_pension_income": {"2025": 0}, "social_security": {"2025":
        0}, "unemployment_compensation": {"2025": 0}, "long_term_capital_gains": {"2025":
        0}, "taxable_ira_distributions": {"2025": 0}, "ssi": {"2025": 0.0}, "head_start":
        {"2025": 12076.413}}}, "tax_units": {"main_tax_unit": {"members": ["1", "2"]}},
        "families": {"family": {"members": ["1", "2"]}}, "households": {"household":
        {"members": ["1", "2"], "state_code": {"2025": "TX"}}}, "spm_units": {"spm_unit":
        {"members": ["1", "2"], "snap": {"2025": 2895.2998}, "tanf": {"2025": 0.0}}},
        "marital_units": {}}, "policyengine_bundle": {"model_version": "1.784.3",
        "data_version": null, "dataset": null}}'
    headers:
      content-type:
      - application/json
      x-cloud-trace-context:
      - f0fc5fd969910cf4a87bae015cc0fa63;o=1
      x-policyengine-backend:
      - modal
      x-policyengine-primary-backend:
      - modal
      x-policyengine-primary-state:
      - healthy
      x-policyengine-request-id:
      - 3d80f994-ab7b-4c47-a74d-da6069207798
      x-policyengine-route-channel:
      - current
    status:
      code: 200
      message: OK
version: 1
