interactions:
- request:
    body: '{"household": {"people": {"1": {"age": {"2025": 34}, "was_in_foster_care":
      {"2025": null}, "employment_income": {"2025": 17952}, "self_employment_income":
      {"2025": 0}, "rental_income": {"2025": 0}, "taxable_pension_income": {"2025":
      0}, "social_security": {"2025": 0}, "unemployment_compensation": {"2025": 0},
      "long_term_capital_gains": {"2025": 0}, "taxable_ira_distributions": {"2025":
      0}, "ssi": {"2025": null}, "receives_ssi": {"2025": false}, "takes_up_ssi_if_eligible":
      {"2025": false}, "head_start": {"2025": null}}, "2": {"age": {"2025": 3}, "was_in_foster_care":
      {"2025": null}, "employment_income": {"2025": 0}, "self_employment_income":
      {"2025": 0}, "rental_income": {"2025": 0}, "taxable_pension_income": {"2025":
      0}, "social_security": {"2025": 0}, "unemployment_compensation": {"2025": 0},
      "long_term_capital_gains": {"2025": 0}, "taxable_ira_distributions": {"2025":
      0}, "ssi": {"2025": null}, "receives_ssi": {"2025": false}, "takes_up_ssi_if_eligible":
      {"2025": false}, "head_start": {"2025": null}}}, "tax_units": {"main_tax_unit":
      {"members": ["1", "2"]}}, "families": {"family": {"members": ["1", "2"]}}, "households":
      {"household": {"members": ["1", "2"], "state_code": {"2025": "TX"}}}, "spm_units":
      {"spm_unit": {"members": ["1", "2"], "tanf": {"2025": null}, "receives_tanf":
      {"2025": false}, "takes_up_tanf_if_eligible": {"2025": false}, "receives_snap":
      {"2025": false}, "takes_up_snap_if_eligible": {"2025": false}}}, "marital_units":
      {}}, "version": "1.786.5"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://household.api.policyengine.org/us/calculate
  response:
    body:
      string: '{"status": "ok", "message": null, "result": {"people": {"1": {"age":
        {"2025": 34}, "was_in_foster_care": {"2025": false}, "employment_income":
        {"2025": 17952}, "self_employment_income": {"2025": 0}, "rental_income": {"2025":
        0}, "taxable_pension_income": {"2025": 0}, "social_security": {"2025": 0},
        "unemployment_compensation": {"2025": 0}, "long_term_capital_gains": {"2025":
        0}, "taxable_ira_distributions": {"2025": 0}, "ssi": {"2025": 0.0}, "receives_ssi":
        {"2025": false}, "takes_up_ssi_if[...]
