interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.huduser.gov/hudapi/public/fmr/listCounties/CO?updated=2025&year=2025
  response:
    body:
      string: '[{"state_code":"CO","fips_code":"0800199999","cntyname":"Adams County","town_name":"","category":"County"},{"state_code":"CO","fips_code":"0800399999","cntyname":"Alamosa
        County","town_name":"","category":"County"},{"state_code":"CO","fips_code":"0800599999","cntyname":"Arapahoe
        County","town_name":"","category":"County"},{"state_code":"CO","fips_code":"0800799999","cntyname":"Archuleta
        County","town_name":"","category":"County"},{"state_code":"CO","fips_code":"0800999999","cntyname":"Baca
        County","town_name":"","category":"County"},{"state_code":"CO","fips_c[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.huduser.gov/hudapi/public/mtspil/data/0803199999?year=2025
  response:
    body:
      string: '{"data":{"county_name":"Denver County, CO","counties_msa":"","town_name":"","metro_status":"1.0","metro_name":"Denver-Aurora-Centennial,
        CO","area_name":"Denver-Aurora-Lakewood, CO MSA","year":"2025","median_income":140100,"80percent":{"il80_p1":78480,"il80_p2":89680,"il80_p3":100880,"il80_p4":112080,"il80_p5":121120,"il80_p6":130080,"il80_p7":139040,"il80_p8":148000},"70percent":{"il70_p1":68670,"il70_p2":78470,"il70_p3":88270,"il70_p4":98070,"il70_p5":105980,"il70_p6":113820,"il70_p7":121660,"il70_p8":129500},"60percent":{"il60_p1":58860,"il60_p2":67260,"il60_p3":75660,"il60_p4":84060,"il60_p5":90840,"il60_p6":97560,"il60_p7":104280,"il60_p8":111000},"50percent":{"il50_p1":49050,"il50_p2":56050,"il50_p3":63050,"il50_p4":70050,"il50_p5":75700,"il50_p6":81300,"il50_p7":86900,"il50_p8":92500},"40percent":{"il40_p1":39240,"il40_p2":44840,"il40_p3":50440,"il40_p4":56040,"il40_p5":60560,"il40_p6":65040,"il40_p7":69520,"il40_p8":74000},"30percent":{"il30_p1":29430,"il30_p2":33630,"il30_p3":37830,"il30_p4":42030,"il30_p5":45420,"il30_p6":48780,"il30_p7":52140,"il30_p8":55500},"20percent":{"il20_p1":19620,"il20_p2":22420,"il20_p3":25220,"il20_p4":28020,"il20_p5":30280,"il20_p6":32520,"il20_p7":34760,"il20_p8":37000},"hera_special_50percent":{},"hera_special_60percent":{}}}'
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Limit:
      - '100'
      X-RateLimit-Remaining:
      - '94'
    status:
      code: 200
      message: OK
version: 1
