interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.huduser.gov/hudapi/public/fmr/listCounties/IL?year=2024
  response:
    body:
      string: '[{"state_code":"IL","fips_code":"1700199999","county_name":"Adams County","town_name":"","category":"County"},{"state_code":"IL","fips_code":"1700399999","county_name":"Alexander
        County","town_name":"","category":"County"},{"state_code":"IL","fips_code":"1700599999","county_name":"Bond
        County","town_name":"","category":"County"},{"state_code":"IL","fips_code":"1700799999","county_name":"Boone
        County","town_name":"","category":"County"},{"state_code":"IL","fips_code":"1700999999","county_name":"Brown
        County","town_name":"","category":"County"},{"state_code":"IL",[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.huduser.gov/hudapi/public/il/data/1703199999?year=2024
  response:
    body:
      string: '{"data":{"county_name":"Cook County, IL","counties_msa":"","town_name":"","metro_status":"1","metro_name":"Chicago-Naperville-Elgin,
        IL-IN-WI","area_name":"Chicago-Joliet-Naperville, IL HUD Metro FMR Area","year":"2024","median_income":112100,"very_low":{"il50_p1":39250,"il50_p2":44850,"il50_p3":50450,"il50_p4":56050,"il50_p5":60550,"il50_p6":65050,"il50_p7":69550,"il50_p8":74000},"extremely_low":{"il30_p1":23600,"il30_p2":26950,"il30_p3":30300,"il30_p4":33650,"il30_p5":36580,"il30_p6":41960,"il30_p7":47340,"il30_p8":52720},"low":{"il80_p1":62800,"il80_p2":71800,"il80_p3":80750,"il80_p4":89700,"il80_p5":96900,"il80_p6":104100,"il80_p7":111250,"il80_p8":118450}}}'
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Limit:
      - '100'
      X-RateLimit-Remaining:
      - '73'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.huduser.gov/hudapi/public/fmr/listCounties/IL?updated=2025&year=2025
  response:
    body:
      string: '[{"state_code":"IL","fips_code":"1700199999","cntyname":"Adams County","town_name":"","category":"County"},{"state_code":"IL","fips_code":"1700399999","cntyname":"Alexander
        County","town_name":"","category":"County"},{"state_code":"IL","fips_code":"1700599999","cntyname":"Bond
        County","town_name":"","category":"County"},{"state_code":"IL","fips_code":"1700799999","cntyname":"Boone
        County","town_name":"","category":"County"},{"state_code":"IL","fips_code":"1700999999","cntyname":"Brown
        County","town_name":"","category":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.huduser.gov/hudapi/public/il/data/1703199999?year=2025
  response:
    body:
      string: '{"data":{"county_name":"Cook County, IL","counties_msa":"","town_name":"","metro_status":"1.0","metro_name":"Chicago-Naperville-Elgin,
        IL-IN","area_name":"Chicago-Joliet-Naperville, IL HUD Metro FMR Area","year":"2025","median_income":119900,"very_low":{"il50_p1":42000,"il50_p2":48000,"il50_p3":54000,"il50_p4":59950,"il50_p5":64750,"il50_p6":69550,"il50_p7":74350,"il50_p8":79150},"extremely_low":{"il30_p1":25200,"il30_p2":28800,"il30_p3":32400,"il30_p4":35950,"il30_p5":38850,"il30_p6":43150,"il30_p7":48650,"il30_p8":54150},"low":{"il80_p1":67150,"il80_p2":76750,"il80_p3":86350,"il80_p4":95900,"il80_p5":103600,"il80_p6":111250,"il80_p7":118950,"il80_p8":126600}}}'
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Limit:
      - '100'
      X-RateLimit-Remaining:
      - '71'
    status:
      code: 200
      message: OK
version: 1
