interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.huduser.gov/hudapi/public/fmr/listCounties/IL?year=2024
  response:
    body:
      string: '[{"state_code":"IL","fips_code":"1700199999","county_name":"Adams County","town_name":"","category":"County"},{"state_code":"IL","fips_code":"1700399999","county_name":"Alexander
        County","town_name":"","category":"County"},{"state_code":"IL","fips_code":"1700599999","county_name":"Bond
        County","town_name":"","category":"County"},{"state_code":"IL","fips_code":"1700799999","county_name":"Boone
        County","town_name":"","category":"County"},{"state_code":"IL","fips_code":"1700999999","county_name":"Brown
        County","town_name":"","category":"County"},{"state_code":"IL",[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.huduser.gov/hudapi/public/mtspil/data/1703199999?year=2024
  response:
    body:
      string: '{"data":{"county_name":"Cook County, IL","counties_msa":"","town_name":"","metro_status":"1","metro_name":"Chicago-Naperville-Elgin,
        IL-IN-WI","area_name":"Chicago-Joliet-Naperville, IL HUD Metro FMR Area","year":"2024","median_income":112100,"80percent":{"il80_p1":62800,"il80_p2":71760,"il80_p3":80720,"il80_p4":89680,"il80_p5":96880,"il80_p6":104080,"il80_p7":111280,"il80_p8":118400},"70percent":{"il70_p1":54950,"il70_p2":62790,"il70_p3":70630,"il70_p4":78470,"il70_p5":84770,"il70_p6":91070,"il70_p7":97370,"il70_p8":103600},"60percent":{"il60_p1":47100,"il60_p2":53820,"il60_p3":60540,"il60_p4":67260,"il60_p5":72660,"il60_p6":78060,"il60_p7":83460,"il60_p8":88800},"50percent":{"il50_p1":39250,"il50_p2":44850,"il50_p3":50450,"il50_p4":56050,"il50_p5":60550,"il50_p6":65050,"il50_p7":69550,"il50_p8":74000},"40percent":{"il40_p1":31400,"il40_p2":35880,"il40_p3":40360,"il40_p4":44840,"il40_p5":48440,"il40_p6":52040,"il40_p7":55640,"il40_p8":59200},"30percent":{"il30_p1":23550,"il30_p2":26910,"il30_p3":30270,"il30_p4":33630,"il30_p5":36330,"il30_p6":39030,"il30_p7":41730,"il30_p8":44400},"20percent":{"il20_p1":15700,"il20_p2":17940,"il20_p3":20180,"il20_p4":22420,"il20_p5":24220,"il20_p6":26020,"il20_p7":27820,"il20_p8":29600},"hera_special_50percent":{"hera_special_il50_p1":41450,"hera_special_il50_p2":47350,"hera_special_il50_p3":53250,"hera_special_il50_p4":59150,"hera_special_il50_p5":63900,"hera_special_il50_p6":68650,"hera_special_il50_p7":73350,"hera_special_il50_p8":78100},"hera_special_60percent":{"hera_special_il60_p1":49740,"hera_special_il60_p2":56820,"hera_special_il60_p3":63900,"hera_special_il60_p4":70980,"hera_special_il60_p5":76680,"hera_special_il60_p6":82380,"hera_special_il60_p7":88020,"hera_special_il60_p8":93720}}}'
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Limit:
      - '100'
      X-RateLimit-Remaining:
      - '90'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.huduser.gov/hudapi/public/fmr/listCounties/IL?updated=2025&year=2025
  response:
    body:
      string: '[{"state_code":"IL","fips_code":"1700199999","cntyname":"Adams County","town_name":"","category":"County"},{"state_code":"IL","fips_code":"1700399999","cntyname":"Alexander
        County","town_name":"","category":"County"},{"state_code":"IL","fips_code":"1700599999","cntyname":"Bond
        County","town_name":"","category":"County"},{"state_code":"IL","fips_code":"1700799999","cntyname":"Boone
        County","town_name":"","category":"County"},{"state_code":"IL","fips_code":"1700999999","cntyname":"Brown
        County","town_name":"","category":[...]
[...]
