interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.huduser.gov/hudapi/public/fmr/listCounties/CO?updated=2025&year=2025
  response:
    body:
      string: '[{"state_code":"CO","fips_code":"0800199999","cntyname":"Adams County","town_name":"","category":"County"},{"state_code":"CO","fips_code":"0800399999","cntyname":"Alamosa
        County","town_name":"","category":"County"},{"state_code":"CO","fips_code":"0800599999","cntyname":"Arapahoe
        County","town_name":"","category":"County"},{"state_code":"CO","fips_code":"0800799999","cntyname":"Archuleta
        County","town_name":"","category":"County"},{"state_code":"CO","fips_code":"0800999999","cntyname":"Baca
        County","town_name":"","category":"County"},{"state_code":"CO","fips_c[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.huduser.gov/hudapi/public/il/data/0803199999?year=2025
  response:
    body:
      string: '{"data":{"county_name":"Denver County, CO","counties_msa":"","town_name":"","metro_status":"1.0","metro_name":"Denver-Aurora-Centennial,
        CO","area_name":"Denver-Aurora-Lakewood, CO MSA","year":"2025","median_income":140100,"very_low":{"il50_p1":49050,"il50_p2":56050,"il50_p3":63050,"il50_p4":70050,"il50_p5":75700,"il50_p6":81300,"il50_p7":86900,"il50_p8":92500},"extremely_low":{"il30_p1":29450,"il30_p2":33650,"il30_p3":37850,"il30_p4":42050,"il30_p5":45450,"il30_p6":48800,"il30_p7":52150,"il30_p8":55550},"low":{"il80_p1":72950,"il80_p2":83400,"il80_p3":93800,"il80_p4":104200,"il80_p5":112550,"il80_p6":120900,"il80_p7":129250,"il80_p8":137550}}}'
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Limit:
      - '100'
      X-RateLimit-Remaining:
      - '77'
    status:
      code: 200
      message: OK
version: 1
