interactions:
- request:
    body: '{"household": {"people": {"1": {"age": {"2026": 35}, "is_pregnant": {"2026":
      false}, "ssi_countable_resources": {"2026": 0}, "is_disabled": {"2026": null},
      "employment_income": {"2026": 18780}, "self_employment_income": {"2026": 0},
      "rental_income": {"2026": 0}, "taxable_pension_income": {"2026": 0}, "social_security":
      {"2026": 0}, "unemployment_compensation": {"2026": 0}, "long_term_capital_gains":
      {"2026": 0}, "taxable_ira_distributions": {"2026": 0}, "ssi": {"2026": null},
      "receives_ssi": {"2026": false}, "takes_up_ssi_if_eligible": {"2026": false},
      "is_tax_unit_dependent": {"2026": false}, "is_tax_unit_head": {"2026": true},
      "is_tax_unit_spouse": {"2026": false}, "has_esi": {"2026": false}}}, "tax_units":
      {"main_tax_unit": {"members": ["1"], "aca_ptc": {"2026": null}}}, "families":
      {"family": {"members": ["1"]}}, "households": {"household": {"members": ["1"],
      "zip_code": {"2026": "67202"}, "state_code": {"2026": "KS"}, "county_str": {"2026":
      "SEDGWICK_COUNTY_KS"}}}, "spm_units": {"spm_unit": {"members": ["1"], "tanf":
      {"2026": null}, "receives_tanf": {"2026": false}, "takes_up_tanf_if_eligible":
      {"2026": false}, "receives_snap": {"2026": false}, "takes_up_snap_if_eligible":
      {"2026": false}}}, "marital_units": {}}, "version": "1.815.1"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://household.api.policyengine.org/us/calculate
  response:
    body:
      string: '{"status": "ok", "message": null, "result": {"people": {"1": {"age":
        {"2026": 35}, "is_pregnant": {"2026": false}, "ssi_countable_resources": {"2026":
        0}, "is_disabled": {"2026": false}, "employment_income": {"2026": 18780},
        "self_employment_income": {"2026": 0}, "rental_income": {"2026": 0}, "taxable_pension_income":
        {"2026": 0}, "social_security": {"2026": 0}, "unemployment_compensation":
        {"2026": 0}, "long_term_capital_gains": {"2026": 0}, "taxable_ira_distributions":
        {"2026": 0}, "ssi": {"2026": 0.0}, "receives_ssi": {"2026": false}, "takes_up_ssi_if_eligible":
        {"2026": false}, "is_tax_unit_dependent": {"2026": false}, "is_tax_unit_head":
        {"2026": true}, "is_tax_unit_spouse": {"2026": false}, "has_esi": {"2026":
        false}}}, "tax_units": {"main_tax_unit": {"members": ["1"], "aca_ptc": {"2026":
        7599.0093}}}, "families": {"family": {"members": ["1"]}}, "households": {"household":
        {"members": ["1"], "zip_code": {"2026": "67202"}, "state_code": {"2026": "KS"},
        "county_str": {"2026": "SEDGWICK_COUNTY_KS"}}}, "spm_units": {"spm_unit":
        {"members": ["1"], "tanf": {"2026": 0.0}, "receives_tanf": {"2026": false},
        "takes_up_tanf_if_eligible": {"2026": false}, "receives_snap": {"2026": false},
        "takes_up_snap_if_eligible": {"2026": false}}}, "marital_units": {}}, "policyengine_bundle":
        {"model_version": "1.815.1", "data_version": null, "dataset": null}}'
    headers:
      content-type:
      - application/json
      x-cloud-trace-context:
      - 8cfb7da191ae2f66e3092909e1563004
      x-policyengine-backend:
      - modal
      x-policyengine-primary-backend:
      - modal
      x-policyengine-primary-state:
      - healthy
      x-policyengine-request-id:
      - a85ede9e-d3bf-4271-90ad-f1f852c08606
      x-policyengine-route-channel:
      - current
    status:
      code: 200
      message: OK
version: 1
