interactions:
- request:
    body: '{"household": {"people": {"91151": {"age": {"2025": 35}, "is_tax_unit_spouse":
      {"2025": false}, "is_tax_unit_dependent": {"2025": false}, "employment_income":
      {"2025": 40000}, "self_employment_income": {"2025": 0}, "rental_income": {"2025":
      5000}, "taxable_pension_income": {"2025": 0}, "social_security": {"2025": 0},
      "unemployment_compensation": {"2025": 0}, "long_term_capital_gains": {"2025":
      0}, "taxable_ira_distributions": {"2025": 0}, "real_estate_taxes": {"2025":
      0}}, "91152": {"age": {"2025": 10}, "is_tax_unit_spouse": {"2025": false}, "is_tax_unit_dependent":
      {"2025": true}, "employment_income": {"2025": 0}, "self_employment_income":
      {"2025": 0}, "rental_income": {"2025": 0}, "taxable_pension_income": {"2025":
      0}, "social_security": {"2025": 0}, "unemployment_compensation": {"2025": 0},
      "long_term_capital_gains": {"2025": 0}, "taxable_ira_distributions": {"2025":
      0}, "real_estate_taxes": {"2025": 0}}}, "tax_units": {"main_tax_unit": {"members":
      ["91151", "91152"], "mo_wftc": {"2025": null}}}, "families": {"family": {"members":
      ["91151", "91152"]}}, "households": {"household": {"members": ["91151", "91152"],
      "state_code": {"2025": "MO"}}}, "spm_units": {"spm_unit": {"members": ["91151",
      "91152"]}}, "marital_units": {}}, "version": "1.786.5"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://household.api.policyengine.org/us/calculate
  response:
    body:
      string: '{"status": "ok", "message": null, "result": {"people": {"91151": {"age":
        {"2025": 35}, "is_tax_unit_spouse": {"2025": false}, "is_tax_unit_dependent":
        {"2025": false}, "employment_income": {"2025": 40000}, "self_employment_income":
        {"2025": 0}, "rental_income": {"2025": 5000}, "taxable_pension_income": {"2025":
        0}, "social_security": {"2025": 0}, "unemployment_compensation": {"2025":
        0}, "long_term_capital_gains": {"2025": 0}, "taxable_ira_distributions": {"2025":
        0}, "real_estate_taxes": {"2025": 0}}, "91152": {"age": {"2025": 10}, "is_tax_unit_spouse":
        {"2025": false}, "is_tax_unit_dependent": {"2025": true}, "employment_income":
        {"2025": 0}, "self_employment_income": {"2025": 0}, "rental_income": {"2025":
        0}, "taxable_pension_income": {"2025": 0}, "social_security": {"2025": 0},
        "unemployment_compensation": {"2025": 0}, "long_term_capital_gains": {"2025":
        0}, "taxable_ira_distributions": {"2025": 0}, "real_estate_taxes": {"2025":
        0}}}, "tax_units": {"main_tax_unit": {"members": ["91151", "91152"], "mo_wftc":
        {"2025": 0.0}}}, "families": {"family": {"members": ["91151", "91152"]}},
        "households": {"household": {"members": ["91151", "91152"], "state_code":
        {"2025": "MO"}}}, "spm_units": {"spm_unit": {"members": ["91151", "91152"]}},
        "marital_units": {}}, "policyengine_bundle": {"model_version": "1.786.5",
        "data_version": null, "dataset": null}}'
    headers:
      content-type:
      - application/json
      x-cloud-trace-context:
      - f7f2709f4813dbd0c71a2b9a7875e4ae;o=1
      x-policyengine-backend:
      - modal
      x-policyengine-primary-backend:
      - modal
      x-policyengine-primary-state:
      - healthy
      x-policyengine-request-id:
      - df6cd21e-2f43-487c-9e0b-75c1b0593073
      x-policyengine-route-channel:
      - current
    status:
      code: 200
      message: OK
version: 1
