interactions:
- request:
    body: '{"household": {"people": {"91161": {"age": {"2025": 66}, "is_tax_unit_spouse":
      {"2025": false}, "is_tax_unit_dependent": {"2025": false}, "employment_income":
      {"2025": 30000}, "self_employment_income": {"2025": 0}, "rental_income": {"2025":
      0}, "taxable_pension_income": {"2025": 0}, "social_security": {"2025": 0}, "unemployment_compensation":
      {"2025": 0}, "long_term_capital_gains": {"2025": 0}, "taxable_ira_distributions":
      {"2025": 0}, "real_estate_taxes": {"2025": 1010}}, "91162": {"age": {"2025":
      10}, "is_tax_unit_spouse": {"2025": false}, "is_tax_unit_dependent": {"2025":
      true}, "employment_income": {"2025": 0}, "self_employment_income": {"2025":
      0}, "rental_income": {"2025": 0}, "taxable_pension_income": {"2025": 0}, "social_security":
      {"2025": 0}, "unemployment_compensation": {"2025": 0}, "long_term_capital_gains":
      {"2025": 0}, "taxable_ira_distributions": {"2025": 0}, "real_estate_taxes":
      {"2025": 0}}}, "tax_units": {"main_tax_unit": {"members": ["91161", "91162"],
      "mo_wftc": {"2025": null}}}, "families": {"family": {"members": ["91161", "91162"]}},
      "households": {"household": {"members": ["91161", "91162"], "state_code": {"2025":
      "MO"}}}, "spm_units": {"spm_unit": {"members": ["91161", "91162"]}}, "marital_units":
      {}}, "version": "1.794.2"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://household.api.policyengine.org/us/calculate
  response:
    body:
      string: '{"status": "ok", "message": null, "result": {"people": {"91161": {"age":
        {"2025": 66}, "is_tax_unit_spouse": {"2025": false}, "is_tax_unit_dependent":
        {"2025": false}, "employment_income": {"2025": 30000}, "self_employment_income":
        {"2025": 0}, "rental_income": {"2025": 0}, "taxable_pension_income": {"2025":
        0}, "social_security": {"2025": 0}, "unemployment_compensation": {"2025":
        0}, "long_term_capital_gains": {"2025": 0}, "taxable_ira_distributions": {"2025":
        0}, "real_estate_taxes": {"2025": 1010}}, "91162": {"age": {"2025": 10}, "is_tax_unit_spouse":
        {"2025": false}, "is_tax_unit_dependent": {"2025": true}, "employment_income":
        {"2025": 0}, "self_employment_income": {"2025": 0}, "rental_income": {"2025":
        0}, "taxable_pension_income": {"2025": 0}, "social_security": {"2025": 0},
        "unemployment_compensation": {"2025": 0}, "long_term_capital_gains": {"2025":
        0}, "taxable_ira_distributions": {"2025": 0}, "real_estate_taxes": {"2025":
        0}}}, "tax_units": {"main_tax_unit": {"members": ["91161", "91162"], "mo_wftc":
        {"2025": 14.985001}}}, "families": {"family": {"members": ["91161", "91162"]}},
        "households": {"household": {"members": ["91161", "91162"], "state_code":
        {"2025": "MO"}}}, "spm_units": {"spm_unit": {"members": ["91161", "91162"]}},
        "marital_units": {}}, "policyengine_bundle": {"model_version": "1.794.2",
        "data_version": null, "dataset": null}}'
    headers:
      content-type:
      - application/json
      x-cloud-trace-context:
      - 3d07fde64ec9915be14c887b920808e5
      x-policyengine-backend:
      - modal
      x-policyengine-primary-backend:
      - modal
      x-policyengine-primary-state:
      - healthy
      x-policyengine-request-id:
      - b3f9daaa-5bd4-45c9-866a-56236d73ac08
      x-policyengine-route-channel:
      - current
    status:
      code: 200
      message: OK
version: 1
