interactions:
- request:
    body: '{"household": {"people": {"91031": {"age": {"2025": 35}, "is_tax_unit_spouse":
      {"2025": false}, "is_tax_unit_dependent": {"2025": false}, "employment_income":
      {"2025": 40000}, "self_employment_income": {"2025": 0}, "rental_income": {"2025":
      0}, "taxable_pension_income": {"2025": 0}, "social_security": {"2025": 0}, "unemployment_compensation":
      {"2025": 0}, "long_term_capital_gains": {"2025": 6000}, "taxable_ira_distributions":
      {"2025": 0}, "real_estate_taxes": {"2025": 0}}, "91032": {"age": {"2025": 10},
      "is_tax_unit_spouse": {"2025": false}, "is_tax_unit_dependent": {"2025": true},
      "employment_income": {"2025": 0}, "self_employment_income": {"2025": 0}, "rental_income":
      {"2025": 0}, "taxable_pension_income": {"2025": 0}, "social_security": {"2025":
      0}, "unemployment_compensation": {"2025": 0}, "long_term_capital_gains": {"2025":
      0}, "taxable_ira_distributions": {"2025": 0}, "real_estate_taxes": {"2025":
      0}}}, "tax_units": {"main_tax_unit": {"members": ["91031", "91032"], "mo_wftc":
      {"2025": null}}}, "families": {"family": {"members": ["91031", "91032"]}}, "households":
      {"household": {"members": ["91031", "91032"], "state_code": {"2025": "MO"}}},
      "spm_units": {"spm_unit": {"members": ["91031", "91032"]}}, "marital_units":
      {}}, "version": "1.794.2"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://household.api.policyengine.org/us/calculate
  response:
    body:
      string: '{"status": "ok", "message": null, "result": {"people": {"91031": {"age":
        {"2025": 35}, "is_tax_unit_spouse": {"2025": false}, "is_tax_unit_dependent":
        {"2025": false}, "employment_income": {"2025": 40000}, "self_employment_income":
        {"2025": 0}, "rental_income": {"2025": 0}, "taxable_pension_income": {"2025":
        0}, "social_security": {"2025": 0}, "unemployment_compensation": {"2025":
        0}, "long_term_capital_gains": {"2025": 6000}, "taxable_ira_distributions":
        {"2025": 0}, "real_estate_taxes": {"2025": 0}}, "91032": {"age": {"2025":
        10}, "is_tax_unit_spouse": {"2025": false}, "is_tax_unit_dependent": {"2025":
        true}, "employment_income": {"2025": 0}, "self_employment_income": {"2025":
        0}, "rental_income": {"2025": 0}, "taxable_pension_income": {"2025": 0}, "social_security":
        {"2025": 0}, "unemployment_compensation": {"2025": 0}, "long_term_capital_gains":
        {"2025": 0}, "taxable_ira_distributions": {"2025": 0}, "real_estate_taxes":
        {"2025": 0}}}, "tax_units": {"main_tax_unit": {"members": ["91031", "91032"],
        "mo_wftc": {"2025": 0.0}}}, "families": {"family": {"members": ["91031", "91032"]}},
        "households": {"household": {"members": ["91031", "91032"], "state_code":
        {"2025": "MO"}}}, "spm_units": {"spm_unit": {"members": ["91031", "91032"]}},
        "marital_units": {}}, "policyengine_bundle": {"model_version": "1.794.2",
        "data_version": null, "dataset": null}}'
    headers:
      content-type:
      - application/json
      x-cloud-trace-context:
      - 50d9725d71d32350176e8298d97e9ce9;o=1
      x-policyengine-backend:
      - modal
      x-policyengine-primary-backend:
      - modal
      x-policyengine-primary-state:
      - healthy
      x-policyengine-request-id:
      - 9ba6ff27-f3e7-475d-b8e7-13f4a6caea13
      x-policyengine-route-channel:
      - current
    status:
      code: 200
      message: OK
version: 1
