interactions:
- request:
    body: '{"household": {"people": {"91121": {"age": {"2025": 30}, "is_tax_unit_spouse":
      {"2025": false}, "is_tax_unit_dependent": {"2025": false}, "employment_income":
      {"2025": 18000}, "self_employment_income": {"2025": 0}, "rental_income": {"2025":
      0}, "taxable_pension_income": {"2025": 0}, "social_security": {"2025": 0}, "unemployment_compensation":
      {"2025": 0}, "long_term_capital_gains": {"2025": 0}, "taxable_ira_distributions":
      {"2025": 0}, "real_estate_taxes": {"2025": 0}}}, "tax_units": {"main_tax_unit":
      {"members": ["91121"], "mo_wftc": {"2025": null}}}, "families": {"family": {"members":
      ["91121"]}}, "households": {"household": {"members": ["91121"], "state_code":
      {"2025": "MO"}}}, "spm_units": {"spm_unit": {"members": ["91121"]}}, "marital_units":
      {}}, "version": "1.794.2"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://household.api.policyengine.org/us/calculate
  response:
    body:
      string: '{"status": "ok", "message": null, "result": {"people": {"91121": {"age":
        {"2025": 30}, "is_tax_unit_spouse": {"2025": false}, "is_tax_unit_dependent":
        {"2025": false}, "employment_income": {"2025": 18000}, "self_employment_income":
        {"2025": 0}, "rental_income": {"2025": 0}, "taxable_pension_income": {"2025":
        0}, "social_security": {"2025": 0}, "unemployment_compensation": {"2025":
        0}, "long_term_capital_gains": {"2025": 0}, "taxable_ira_distributions": {"2025":
        0}, "real_estate_taxes": {"2025": 0}}}, "tax_units": {"main_tax_unit": {"members":
        ["91121"], "mo_wftc": {"2025": 16.886}}}, "families": {"family": {"members":
        ["91121"]}}, "households": {"household": {"members": ["91121"], "state_code":
        {"2025": "MO"}}}, "spm_units": {"spm_unit": {"members": ["91121"]}}, "marital_units":
        {}}, "policyengine_bundle": {"model_version": "1.794.2", "data_version": null,
        "dataset": null}}'
    headers:
      content-type:
      - application/json
      x-cloud-trace-context:
      - 380da2b2f9e4d6d5863f0a362ea52d29
      x-policyengine-backend:
      - modal
      x-policyengine-primary-backend:
      - modal
      x-policyengine-primary-state:
      - healthy
      x-policyengine-request-id:
      - ae005b06-a4b8-4dc1-9f82-520781a52a90
      x-policyengine-route-channel:
      - current
    status:
      code: 200
      message: OK
version: 1
