interactions:
- request:
    body: '{"household": {"people": {"91091": {"age": {"2023": 33}, "is_tax_unit_spouse":
      {"2023": false}, "is_tax_unit_dependent": {"2023": false}, "employment_income":
      {"2023": 40000}, "self_employment_income": {"2023": 0}, "rental_income": {"2023":
      0}, "taxable_pension_income": {"2023": 0}, "social_security": {"2023": 0}, "unemployment_compensation":
      {"2023": 0}, "long_term_capital_gains": {"2023": 4050}, "taxable_ira_distributions":
      {"2023": 0}, "real_estate_taxes": {"2023": 0}}, "91092": {"age": {"2023": 8},
      "is_tax_unit_spouse": {"2023": false}, "is_tax_unit_dependent": {"2023": true},
      "employment_income": {"2023": 0}, "self_employment_income": {"2023": 0}, "rental_income":
      {"2023": 0}, "taxable_pension_income": {"2023": 0}, "social_security": {"2023":
      0}, "unemployment_compensation": {"2023": 0}, "long_term_capital_gains": {"2023":
      0}, "taxable_ira_distributions": {"2023": 0}, "real_estate_taxes": {"2023":
      0}}}, "tax_units": {"main_tax_unit": {"members": ["91091", "91092"], "mo_wftc":
      {"2023": null}}}, "families": {"family": {"members": ["91091", "91092"]}}, "households":
      {"household": {"members": ["91091", "91092"], "state_code": {"2023": "MO"}}},
      "spm_units": {"spm_unit": {"members": ["91091", "91092"]}}, "marital_units":
      {}}, "version": "1.794.2"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://household.api.policyengine.org/us/calculate
  response:
    body:
      string: '{"status": "ok", "message": null, "result": {"people": {"91091": {"age":
        {"2023": 33}, "is_tax_unit_spouse": {"2023": false}, "is_tax_unit_dependent":
        {"2023": false}, "employment_income": {"2023": 40000}, "self_employment_income":
        {"2023": 0}, "rental_income": {"2023": 0}, "taxable_pension_income": {"2023":
        0}, "social_security": {"2023": 0}, "unemployment_compensation": {"2023":
        0}, "long_term_capital_gains": {"2023": 4050}, "taxable_ira_distributions":
        {"2023": 0}, "real_estate_taxes": {"2023": 0}}, "91092": {"age": {"2023":
        8}, "is_tax_unit_spouse": {"2023": false}, "is_tax_unit_dependent": {"2023":
        true}, "employment_income": {"2023": 0}, "self_employment_income": {"2023":
        0}, "rental_income": {"2023": 0}, "taxable_pension_income": {"2023": 0}, "social_security":
        {"2023": 0}, "unemployment_compensation": {"2023": 0}, "long_term_capital_gains":
        {"2023": 0}, "taxable_ira_distributions": {"2023": 0}, "real_estate_taxes":
        {"2023": 0}}}, "tax_units": {"main_tax_unit": {"members": ["91091", "91092"],
        "mo_wftc": {"2023": 40.109814}}}, "families": {"family": {"members": ["91091",
        "91092"]}}, "households": {"household": {"members": ["91091", "91092"], "state_code":
        {"2023": "MO"}}}, "spm_units": {"spm_unit": {"members": ["91091", "91092"]}},
        "marital_units": {}}, "policyengine_bundle": {"model_version": "1.794.2",
        "data_version": null, "dataset": null}}'
    headers:
      content-type:
      - application/json
      x-cloud-trace-context:
      - 964633ec473bf51ba92b4f70c811db4b
      x-policyengine-backend:
      - modal
      x-policyengine-primary-backend:
      - modal
      x-policyengine-primary-state:
      - healthy
      x-policyengine-request-id:
      - e917317b-2a68-4f74-adbc-1c076071a01a
      x-policyengine-route-channel:
      - current
    status:
      code: 200
      message: OK
version: 1
