interactions:
- request:
    body: '{"household": {"people": {"91081": {"is_tax_unit_spouse": {"2025": false},
      "is_tax_unit_dependent": {"2025": false}, "employment_income": {"2025": 40000},
      "self_employment_income": {"2025": 0}, "rental_income": {"2025": 0}, "taxable_pension_income":
      {"2025": 0}, "social_security": {"2025": 0}, "unemployment_compensation": {"2025":
      0}, "long_term_capital_gains": {"2025": 4401}, "taxable_ira_distributions":
      {"2025": 0}, "age": {"2025": 35}, "is_full_time_college_student": {"2025": false},
      "real_estate_taxes": {"2025": 0}, "rent": {"2025": 0}}, "91082": {"is_tax_unit_spouse":
      {"2025": false}, "is_tax_unit_dependent": {"2025": true}, "employment_income":
      {"2025": 0}, "self_employment_income": {"2025": 0}, "rental_income": {"2025":
      0}, "taxable_pension_income": {"2025": 0}, "social_security": {"2025": 0}, "unemployment_compensation":
      {"2025": 0}, "long_term_capital_gains": {"2025": 0}, "taxable_ira_distributions":
      {"2025": 0}, "age": {"2025": 10}, "is_full_time_college_student": {"2025": false},
      "real_estate_taxes": {"2025": 0}, "rent": {"2025": 0}}}, "tax_units": {"main_tax_unit":
      {"members": ["91081", "91082"], "mo_wftc": {"2025": null}}}, "families": {"family":
      {"members": ["91081", "91082"]}}, "households": {"household": {"members": ["91081",
      "91082"], "state_code": {"2025": "MO"}}}, "spm_units": {"spm_unit": {"members":
      ["91081", "91082"]}}, "marital_units": {}}, "version": "2.9.0"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://household.api.policyengine.org/us/calculate
  response:
    body:
      string: '{"status": "ok", "message": null, "result": {"people": {"91081": {"is_tax_unit_spouse":
        {"2025": false}, "is_tax_unit_dependent": {"2025": false}, "employment_income":
        {"2025": 40000}, "self_employment_income": {"2025": 0}, "rental_income": {"2025":
        0}, "taxable_pension_income": {"2025": 0}, "social_security": {"2025": 0},
        "unemployment_compensation": {"2025": 0}, "long_term_capital_gains": {"2025":
        4401}, "taxable_ira_distributions": {"2025": 0}, "age": {"2025": 35}, "is_full_time_college_student"[...]
