interactions:
- request:
    body: '{"household": {"people": {"91071": {"age": {"2025": 35}, "is_tax_unit_spouse":
      {"2025": false}, "is_tax_unit_dependent": {"2025": false}, "employment_income":
      {"2025": 40000}, "self_employment_income": {"2025": 0}, "rental_income": {"2025":
      0}, "taxable_pension_income": {"2025": 0}, "social_security": {"2025": 0}, "unemployment_compensation":
      {"2025": 0}, "long_term_capital_gains": {"2025": 4400}, "taxable_ira_distributions":
      {"2025": 0}, "real_estate_taxes": {"2025": 0}}, "91072": {"age": {"2025": 10},
      "is_tax_unit_spouse": {"2025": false}, "is_tax_unit_dependent": {"2025": true},
      "employment_income": {"2025": 0}, "self_employment_income": {"2025": 0}, "rental_income":
      {"2025": 0}, "taxable_pension_income": {"2025": 0}, "social_security": {"2025":
      0}, "unemployment_compensation": {"2025": 0}, "long_term_capital_gains": {"2025":
      0}, "taxable_ira_distributions": {"2025": 0}, "real_estate_taxes": {"2025":
      0}}}, "tax_units": {"main_tax_unit": {"members": ["91071", "91072"], "mo_wftc":
      {"2025": null}}}, "families": {"family": {"members": ["91071", "91072"]}}, "households":
      {"household": {"members": ["91071", "91072"], "state_code": {"2025": "MO"}}},
      "spm_units": {"spm_unit": {"members": ["91071", "91072"]}}, "marital_units":
      {}}, "version": "1.794.2"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://household.api.policyengine.org/us/calculate
  response:
    body:
      string: '{"status": "ok", "message": null, "result": {"people": {"91071": {"age":
        {"2025": 35}, "is_tax_unit_spouse": {"2025": false}, "is_tax_unit_dependent":
        {"2025": false}, "employment_income": {"2025": 40000}, "self_employment_income":
        {"2025": 0}, "rental_income": {"2025": 0}, "taxable_pension_income": {"2025":
        0}, "social_security": {"2025": 0}, "unemployment_compensation": {"2025":
        0}, "long_term_capital_gains": {"2025": 4400}, "taxable_ira_distributions":
        {"2025": 0}, "real_estate_taxes": {"2025": 0}}, "91072": {"age": {"2025":
        10}, "is_tax_unit_spouse": {"2025": false}, "is_tax_unit_dependent": {"2025":
        true}, "employment_income": {"2025": 0}, "self_employment_income": {"2025":
        0}, "rental_income": {"2025": 0}, "taxable_pension_income": {"2025": 0}, "social_security":
        {"2025": 0}, "unemployment_compensation": {"2025": 0}, "long_term_capital_gains":
        {"2025": 0}, "taxable_ira_distributions": {"2025": 0}, "real_estate_taxes":
        {"2025": 0}}}, "tax_units": {"main_tax_unit": {"members": ["91071", "91072"],
        "mo_wftc": {"2025": 192.84204}}}, "families": {"family": {"members": ["91071",
        "91072"]}}, "households": {"household": {"members": ["91071", "91072"], "state_code":
        {"2025": "MO"}}}, "spm_units": {"spm_unit": {"members": ["91071", "91072"]}},
        "marital_units": {}}, "policyengine_bundle": {"model_version": "1.794.2",
        "data_version": null, "dataset": null}}'
    headers:
      content-type:
      - application/json
      x-cloud-trace-context:
      - 45a81889a720d9da8fc6aae1c05e434a
      x-policyengine-backend:
      - modal
      x-policyengine-primary-backend:
      - modal
      x-policyengine-primary-state:
      - healthy
      x-policyengine-request-id:
      - 214d0bed-42d4-498e-9f86-d4bedbe2c774
      x-policyengine-route-channel:
      - current
    status:
      code: 200
      message: OK
version: 1
