interactions:
- request:
    body: '{"household": {"people": {"91021": {"age": {"2023": 33}, "is_tax_unit_spouse":
      {"2023": false}, "is_tax_unit_dependent": {"2023": false}, "employment_income":
      {"2023": 40000}, "self_employment_income": {"2023": 0}, "rental_income": {"2023":
      0}, "taxable_pension_income": {"2023": 0}, "social_security": {"2023": 0}, "unemployment_compensation":
      {"2023": 0}, "long_term_capital_gains": {"2023": 0}, "taxable_ira_distributions":
      {"2023": 0}, "real_estate_taxes": {"2023": 0}}, "91022": {"age": {"2023": 8},
      "is_tax_unit_spouse": {"2023": false}, "is_tax_unit_dependent": {"2023": true},
      "employment_income": {"2023": 0}, "self_employment_income": {"2023": 0}, "rental_income":
      {"2023": 0}, "taxable_pension_income": {"2023": 0}, "social_security": {"2023":
      0}, "unemployment_compensation": {"2023": 0}, "long_term_capital_gains": {"2023":
      0}, "taxable_ira_distributions": {"2023": 0}, "real_estate_taxes": {"2023":
      0}}}, "tax_units": {"main_tax_unit": {"members": ["91021", "91022"], "mo_wftc":
      {"2023": null}}}, "families": {"family": {"members": ["91021", "91022"]}}, "households":
      {"household": {"members": ["91021", "91022"], "state_code": {"2023": "MO"}}},
      "spm_units": {"spm_unit": {"members": ["91021", "91022"]}}, "marital_units":
      {}}, "version": "1.786.5"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://household.api.policyengine.org/us/calculate
  response:
    body:
      string: '{"status": "ok", "message": null, "result": {"people": {"91021": {"age":
        {"2023": 33}, "is_tax_unit_spouse": {"2023": false}, "is_tax_unit_dependent":
        {"2023": false}, "employment_income": {"2023": 40000}, "self_employment_income":
        {"2023": 0}, "rental_income": {"2023": 0}, "taxable_pension_income": {"2023":
        0}, "social_security": {"2023": 0}, "unemployment_compensation": {"2023":
        0}, "long_term_capital_gains": {"2023": 0}, "taxable_ira_distributions": {"2023":
        0}, "real_estate_taxes": {"2023": 0}}, "91022": {"age": {"2023": 8}, "is_tax_unit_spouse":
        {"2023": false}, "is_tax_unit_dependent": {"2023": true}, "employment_income":
        {"2023": 0}, "self_employment_income": {"2023": 0}, "rental_income": {"2023":
        0}, "taxable_pension_income": {"2023": 0}, "social_security": {"2023": 0},
        "unemployment_compensation": {"2023": 0}, "long_term_capital_gains": {"2023":
        0}, "taxable_ira_distributions": {"2023": 0}, "real_estate_taxes": {"2023":
        0}}}, "tax_units": {"main_tax_unit": {"members": ["91021", "91022"], "mo_wftc":
        {"2023": 104.82881}}}, "families": {"family": {"members": ["91021", "91022"]}},
        "households": {"household": {"members": ["91021", "91022"], "state_code":
        {"2023": "MO"}}}, "spm_units": {"spm_unit": {"members": ["91021", "91022"]}},
        "marital_units": {}}, "policyengine_bundle": {"model_version": "1.786.5",
        "data_version": null, "dataset": null}}'
    headers:
      content-type:
      - application/json
      x-cloud-trace-context:
      - a95a67bfb84a8719ecab9bda13bc72ad
      x-policyengine-backend:
      - modal
      x-policyengine-primary-backend:
      - modal
      x-policyengine-primary-state:
      - healthy
      x-policyengine-request-id:
      - 20745cf8-192d-4454-aae0-37d6583c3d59
      x-policyengine-route-channel:
      - current
    status:
      code: 200
      message: OK
version: 1
