interactions:
- request:
    body: '{"household": {"people": {"91171": {"is_tax_unit_spouse": {"2026": false},
      "is_tax_unit_dependent": {"2026": false}, "employment_income": {"2026": 33000},
      "self_employment_income": {"2026": 0}, "rental_income": {"2026": 0}, "taxable_pension_income":
      {"2026": 0}, "social_security": {"2026": 0}, "unemployment_compensation": {"2026":
      0}, "long_term_capital_gains": {"2026": 0}, "taxable_ira_distributions": {"2026":
      0}, "age": {"2026": 67}, "is_full_time_college_student": {"2026": false}, "real_estate_taxes":
      {"2026": 0}, "rent": {"2026": 12000}}, "91172": {"is_tax_unit_spouse": {"2026":
      false}, "is_tax_unit_dependent": {"2026": true}, "employment_income": {"2026":
      0}, "self_employment_income": {"2026": 0}, "rental_income": {"2026": 0}, "taxable_pension_income":
      {"2026": 0}, "social_security": {"2026": 0}, "unemployment_compensation": {"2026":
      0}, "long_term_capital_gains": {"2026": 0}, "taxable_ira_distributions": {"2026":
      0}, "age": {"2026": 11}, "is_full_time_college_student": {"2026": false}, "real_estate_taxes":
      {"2026": 0}, "rent": {"2026": 0}}}, "tax_units": {"main_tax_unit": {"members":
      ["91171", "91172"], "mo_wftc": {"2026": null}}}, "families": {"family": {"members":
      ["91171", "91172"]}}, "households": {"household": {"members": ["91171", "91172"],
      "state_code": {"2026": "MO"}}}, "spm_units": {"spm_unit": {"members": ["91171",
      "91172"]}}, "marital_units": {}}, "version": "2.9.0"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://household.api.policyengine.org/us/calculate
  response:
    body:
      string: '{"status": "ok", "message": null, "result": {"people": {"91171": {"is_tax_unit_spouse":
        {"2026": false}, "is_tax_unit_dependent": {"2026": false}, "employment_income":
        {"2026": 33000}, "self_employment_income": {"2026": 0}, "rental_income": {"2026":
        0}, "taxable_pension_income": {"2026": 0}, "social_security": {"2026": 0},
        "unemployment_compensation": {"2026": 0}, "long_term_capital_gains": {"2026":
        0}, "taxable_ira_distributions": {"2026": 0}, "age": {"2026": 67}, "is_full_time_college_student":
 [...]
