interactions:
- request:
    body: '{"household": {"people": {"101": {"age": {"2026": 41}, "is_pregnant": {"2026":
      false}, "ssi_countable_resources": {"2026": 0}, "is_disabled": {"2026": null},
      "employment_income": {"2026": 50004}, "self_employment_income": {"2026": 0},
      "rental_income": {"2026": 0}, "taxable_pension_income": {"2026": 0}, "social_security":
      {"2026": 0}, "unemployment_compensation": {"2026": 0}, "long_term_capital_gains":
      {"2026": 0}, "taxable_ira_distributions": {"2026": 0}, "ssi": {"2026": null},
      "receives_ssi": {"2026": false}, "takes_up_ssi_if_eligible": {"2026": false},
      "receives_medicaid": {"2026": false}, "chip_gross": {"2026": null}}, "102":
      {"age": {"2026": 39}, "is_pregnant": {"2026": false}, "ssi_countable_resources":
      {"2026": 0}, "is_disabled": {"2026": null}, "employment_income": {"2026": 0},
      "self_employment_income": {"2026": 0}, "rental_income": {"2026": 0}, "taxable_pension_income":
      {"2026": 0}, "social_security": {"2026": 0}, "unemployment_compensation": {"2026":
      0}, "long_term_capital_gains": {"2026": 0}, "taxable_ira_distributions": {"2026":
      0}, "ssi": {"2026": null}, "receives_ssi": {"2026": false}, "takes_up_ssi_if_eligible":
      {"2026": false}, "receives_medicaid": {"2026": false}, "chip_gross": {"2026":
      null}}, "103": {"age": {"2026": 7}, "is_pregnant": {"2026": false}, "ssi_countable_resources":
      {"2026": 0}, "is_disabled": {"2026": null}, "employment_income": {"2026": 0},
      "self_employment_income": {"2026": 0}, "rental_income": {"2026": 0}, "taxable_pension_income":
      {"2026": 0}, "social_security": {"2026": 0}, "unemployment_compensation": {"2026":
      0}, "long_term_capital_gains": {"2026": 0}, "taxable_ira_distributions": {"2026":
      0}, "ssi": {"2026": null}, "receives_ssi": {"2026": false}, "takes_up_ssi_if_eligible":
      {"2026": false}, "receives_medicaid": {"2026": false}, "chip_gross": {"2026":
      null}}}, "tax_units": {"main_tax_unit": {"members": ["101", "102", "103"], "mo_chip_premium":
      {"2026-07": null}}}, "families": {"family": {"members": ["101", "102", "103"]}},
      "households": {"household": {"members": ["101", "102", "103"], "state_code":
      {"2026": "MO"}}}, "spm_units": {"spm_unit": {"members": ["101", "102", "103"],
      "tanf": {"2026": null}, "receives_tanf": {"2026": false}, "takes_up_tanf_if_eligible":
      {"2026": false}, "receives_snap": {"2026": false}, "takes_up_snap_if_eligible":
      {"2026": false}}}, "marital_units": {"101-102": {"members": ["101", "102"]}}},
      "version": "1.815.1"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://household.api.policyengine.org/us/calculate
  response:
    body:
      string: '{"status": "ok", "message": null, "result": {"people": {"101": {"age":
        {"2026": 41}, "is_pregnant": {"2026": false}, "ssi_countable_resources": {"2026":
        0}, "is_disabled": {"2026": false}, "employment_income": {"2026": 50004},
        "self_employment_income": {"2026": 0}, "rental_income": {"2026": 0}, "taxable_pension_income":
        {"2026": 0}, "social_security": {"2026": 0}, "unemployment_compensation":
        {"2026": 0}, "long_term_capital_gains": {"2026": 0}, "taxable_ira_distributions":
        {"2026": 0}, "ssi[...]
