interactions:
- request:
    body: '{"household": {"people": {"1301": {"age": {"2026": 38}, "is_pregnant":
      {"2026": false}, "ssi_countable_resources": {"2026": 0}, "is_disabled": {"2026":
      null}, "employment_income": {"2026": 66000}, "self_employment_income": {"2026":
      0}, "rental_income": {"2026": 0}, "taxable_pension_income": {"2026": 0}, "social_security":
      {"2026": 0}, "unemployment_compensation": {"2026": 0}, "long_term_capital_gains":
      {"2026": 0}, "taxable_ira_distributions": {"2026": 0}, "ssi": {"2026": null},
      "receives_ssi": {"2026": false}, "takes_up_ssi_if_eligible": {"2026": false},
      "receives_medicaid": {"2026": false}, "chip_gross": {"2026": null}}, "1302":
      {"age": {"2026": 36}, "is_pregnant": {"2026": false}, "ssi_countable_resources":
      {"2026": 0}, "is_disabled": {"2026": null}, "employment_income": {"2026": 24000},
      "self_employment_income": {"2026": 0}, "rental_income": {"2026": 0}, "taxable_pension_income":
      {"2026": 0}, "social_security": {"2026": 0}, "unemployment_compensation": {"2026":
      0}, "long_term_capital_gains": {"2026": 0}, "taxable_ira_distributions": {"2026":
      0}, "ssi": {"20[...]
