interactions:
- request:
    body: '{"household": {"people": {"82101": {"age": {"2025": 56}, "is_tax_unit_head":
      {"2025": true}, "is_tax_unit_spouse": {"2025": false}, "is_tax_unit_dependent":
      {"2025": false}, "is_disabled": {"2025": true}, "is_fully_disabled_service_connected_veteran":
      {"2025": false}, "real_estate_taxes": {"2025": 0}, "rent": {"2025": 3600}, "ssi":
      {"2025": null}, "veterans_benefits": {"2025": 0}, "taxable_pension_income":
      {"2025": 0}, "employment_income": {"2025": 0}, "self_employment_income": {"2025":
      0}, "rental_income": {"2025": 0}, "social_security": {"2025": 10800}, "social_security_survivors":
      {"2025": 0}, "unemployment_compensation": {"2025": 0}, "long_term_capital_gains":
      {"2025": 0}, "taxable_ira_distributions": {"2025": 0}}}, "tax_units": {"main_tax_unit":
      {"members": ["82101"], "mo_property_tax_credit": {"2025": null}}}, "families":
      {"family": {"members": ["82101"]}}, "households": {"household": {"members":
      ["82101"], "state_code": {"2025": "MO"}}}, "spm_units": {"spm_unit": {"members":
      ["82101"]}}, "marital_units": {}}, "version": "2.9.0"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://household.api.policyengine.org/us/calculate
  response:
    body:
      string: '{"status": "ok", "message": null, "result": {"people": {"82101": {"age":
        {"2025": 56}, "is_tax_unit_head": {"2025": true}, "is_tax_unit_spouse": {"2025":
        false}, "is_tax_unit_dependent": {"2025": false}, "is_disabled": {"2025":
        true}, "is_fully_disabled_service_connected_veteran": {"2025": false}, "real_estate_taxes":
        {"2025": 0}, "rent": {"2025": 3600}, "ssi": {"2025": 0.0}, "veterans_benefits":
        {"2025": 0}, "taxable_pension_income": {"2025": 0}, "employment_income": {"2025":
        0}, "self_employment_income": {"2025": 0}, "rental_income": {"2025": 0}, "social_security":
        {"2025": 10800}, "social_security_survivors": {"2025": 0}, "unemployment_compensation":
        {"2025": 0}, "long_term_capital_gains": {"2025": 0}, "taxable_ira_distributions":
        {"2025": 0}}}, "tax_units": {"main_tax_unit": {"members": ["82101"], "mo_property_tax_credit":
        {"2025": 720.0}}}, "families": {"family": {"members": ["82101"]}}, "households":
        {"household": {"members": ["82101"], "state_code": {"2025": "MO"}}}, "spm_units":
        {"spm_unit": {"members": ["82101"]}}, "marital_units": {}}, "policyengine_bundle":
        {"model_version": "2.9.0", "data_version": null, "dataset": null}}'
    headers:
      content-type:
      - application/json
      x-cloud-trace-context:
      - e22c54c5d4954c23da50e07fc52e03aa
      x-policyengine-backend:
      - modal
      x-policyengine-primary-backend:
      - modal
      x-policyengine-primary-state:
      - healthy
      x-policyengine-request-id:
      - 065b0e39-49d9-4b42-91fe-a3d5a4d7b38f
      x-policyengine-route-channel:
      - current
    status:
      code: 200
      message: OK
version: 1
