interactions:
- request:
    body: '{"household": {"people": {"82141": {"age": {"2025": 68}, "is_tax_unit_head":
      {"2025": true}, "is_tax_unit_spouse": {"2025": false}, "is_tax_unit_dependent":
      {"2025": false}, "is_disabled": {"2025": null}, "is_fully_disabled_service_connected_veteran":
      {"2025": false}, "real_estate_taxes": {"2025": 0}, "rent": {"2025": 3600}, "ssi":
      {"2025": null}, "veterans_benefits": {"2025": 0}, "taxable_pension_income":
      {"2025": 0}, "employment_income": {"2025": 0}, "self_employment_income": {"2025":
      0}, "rental_income": {"2025": 0}, "social_security": {"2025": 12000}, "social_security_survivors":
      {"2025": 0}, "unemployment_compensation": {"2025": 0}, "long_term_capital_gains":
      {"2025": 0}, "taxable_ira_distributions": {"2025": 0}}, "82142": {"age": {"2025":
      66}, "is_tax_unit_head": {"2025": false}, "is_tax_unit_spouse": {"2025": true},
      "is_tax_unit_dependent": {"2025": false}, "is_disabled": {"2025": null}, "is_fully_disabled_service_connected_veteran":
      {"2025": false}, "real_estate_taxes": {"2025": 0}, "rent": {"2025": 3600}, "ssi":
      {"2025": null}, "veterans_benefits": {"2025": 0}, "taxable_pension_income":
      {"2025": 7200}, "employment_income": {"2025": 0}, "self_employment_income":
      {"2025": 0}, "rental_income": {"2025": 0}, "social_security": {"2025": 10000},
      "social_security_survivors": {"2025": 0}, "unemployment_compensation": {"2025":
      0}, "long_term_capital_gains": {"2025": 0}, "taxable_ira_distributions": {"2025":
      0}}}, "tax_units": {"main_tax_unit": {"members": ["82141", "82142"], "mo_property_tax_credit":
      {"2025": null}}}, "families": {"family": {"members": ["82141", "82142"]}}, "households":
      {"household": {"members": ["82141", "82142"], "state_code": {"2025": "MO"}}},
      "spm_units": {"spm_unit": {"members": ["82141", "82142"]}}, "marital_units":
      {"82141-82142": {"members": ["82141", "82142"]}}}, "version": "2.9.0"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://household.api.policyengine.org/us/calculate
  response:
    body:
      string: '{"status": "ok", "message": null, "result": {"people": {"82141": {"age":
        {"2025": 68}, "is_tax_unit_head": {"2025": true}, "is_tax_unit_spouse": {"2025":
        false}, "is_tax_unit_dependent": {"2025": false}, "is_disabled": {"2025":
        false}, "is_fully_disabled_service_connected_veteran": {"2025": false}, "real_estate_taxes":
        {"2025": 0}, "rent": {"2025": 3600}, "ssi": {"2025": 0.0}, "veterans_benefits":
        {"2025": 0}, "taxable_pension_income": {"2025": 0}, "employment_income": {"2025":
        0}, "self_em[...]
