interactions:
- request:
    body: '{"household": {"people": {"82091": {"age": {"2026": 71}, "is_tax_unit_head":
      {"2026": true}, "is_tax_unit_spouse": {"2026": false}, "is_tax_unit_dependent":
      {"2026": false}, "is_disabled": {"2026": null}, "is_fully_disabled_service_connected_veteran":
      {"2026": false}, "real_estate_taxes": {"2026": 1250}, "rent": {"2026": 0}, "ssi":
      {"2026": null}, "veterans_benefits": {"2026": 0}, "taxable_pension_income":
      {"2026": 18000}, "employment_income": {"2026": 0}, "self_employment_income":
      {"2026": 0}, "rental_income": {"2026": 0}, "social_security": {"2026": 22800},
      "social_security_survivors": {"2026": 0}, "unemployment_compensation": {"2026":
      0}, "long_term_capital_gains": {"2026": 0}, "taxable_ira_distributions": {"2026":
      0}}, "82092": {"age": {"2026": 69}, "is_tax_unit_head": {"2026": false}, "is_tax_unit_spouse":
      {"2026": true}, "is_tax_unit_dependent": {"2026": false}, "is_disabled": {"2026":
      null}, "is_fully_disabled_service_connected_veteran": {"2026": false}, "real_estate_taxes":
      {"2026": 1250}, "rent": {"2026": 0}, "ssi": {"2026": null}, "veterans_benefits":
      {"2026": 0}, "taxable_pension_income": {"2026": 3600}, "employment_income":
      {"2026": 0}, "self_employment_income": {"2026": 0}, "rental_income": {"2026":
      0}, "social_security": {"2026": 9600}, "social_security_survivors": {"2026":
      0}, "unemployment_compensation": {"2026": 0}, "long_term_capital_gains": {"2026":
      0}, "taxable_ira_distributions": {"2026": 0}}}, "tax_units": {"main_tax_unit":
      {"members": ["82091", "82092"], "mo_property_tax_credit": {"2026": null}}},
      "families": {"family": {"members": ["82091", "82092"]}}, "households": {"household":
      {"members": ["82091", "82092"], "state_code": {"2026": "MO"}}}, "spm_units":
      {"spm_unit": {"members": ["82091", "82092"]}}, "marital_units": {"82091-82092":
      {"members": ["82091", "82092"]}}}, "version": "2.9.0"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://household.api.policyengine.org/us/calculate
  response:
    body:
      string: '{"status": "ok", "message": null, "result": {"people": {"82091": {"age":
        {"2026": 71}, "is_tax_unit_head": {"2026": true}, "is_tax_unit_spouse": {"2026":
        false}, "is_tax_unit_dependent": {"2026": false}, "is_disabled": {"2026":
        false}, "is_fully_disabled_service_connected_veteran": {"2026": false}, "real_estate_taxes":
        {"2026": 1250}, "rent": {"2026": 0}, "ssi": {"2026": 0.0}, "veterans_benefits":
        {"2026": 0}, "taxable_pension_income": {"2026": 18000}, "employment_income":
        {"2026": 0}, "sel[...]
