interactions:
- request:
    body: '{"household": {"people": {"82081": {"age": {"2025": 70}, "is_tax_unit_head":
      {"2025": true}, "is_tax_unit_spouse": {"2025": false}, "is_tax_unit_dependent":
      {"2025": false}, "is_disabled": {"2025": null}, "is_fully_disabled_service_connected_veteran":
      {"2025": false}, "real_estate_taxes": {"2025": 1100}, "rent": {"2025": 0}, "ssi":
      {"2025": null}, "veterans_benefits": {"2025": 0}, "taxable_pension_income":
      {"2025": 0}, "employment_income": {"2025": 0}, "self_employment_income": {"2025":
      0}, "rental_income": {"2025": 0}, "social_security": {"2025": 10800}, "social_security_survivors":
      {"2025": 0}, "unemployment_compensation": {"2025": 0}, "long_term_capital_gains":
      {"2025": 0}, "taxable_ira_distributions": {"2025": 0}}, "82082": {"age": {"2025":
      68}, "is_tax_unit_head": {"2025": false}, "is_tax_unit_spouse": {"2025": true},
      "is_tax_unit_dependent": {"2025": false}, "is_disabled": {"2025": null}, "is_fully_disabled_service_connected_veteran":
      {"2025": false}, "real_estate_taxes": {"2025": 1100}, "rent": {"2025": 0}, "ssi":
      {"2025": null}, "veterans_benefits": {"2025": 0}, "taxable_pension_income":
      {"2025": 0}, "employment_income": {"2025": 0}, "self_employment_income"[...]
