interactions:
- request:
    body: '{"household": {"people": {"82101": {"age": {"2026": 56}, "is_tax_unit_head":
      {"2026": true}, "is_tax_unit_spouse": {"2026": false}, "is_tax_unit_dependent":
      {"2026": false}, "is_disabled": {"2026": true}, "is_fully_disabled_service_connected_veteran":
      {"2026": false}, "real_estate_taxes": {"2026": 0}, "rent": {"2026": 4800}, "ssi":
      {"2026": null}, "veterans_benefits": {"2026": 0}, "taxable_pension_income":
      {"2026": 0}, "employment_income": {"2026": 0}, "self_employment_income": {"2026":
      0}, "rental_income": {"2026": 0}, "social_security": {"2026": 10800}, "social_security_survivors":
      {"2026": 0}, "unemployment_compensation": {"2026": 0}, "long_term_capital_gains":
      {"2026": 0}, "taxable_ira_distributions": {"2026": 0}}}, "tax_units": {"main_tax_unit":
      {"members": ["82101"], "mo_property_tax_credit": {"2026": null}}}, "families":
      {"family": {"members": ["82101"]}}, "households": {"household": {"members":
      ["82101"], "state_code": {"2026": "MO"}}}, "spm_units": {"spm_unit": {"members":
      ["82101"]}}, "marital_units": {}}, "version": "2.9.0"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://household.api.policyengine.org/us/calculate
  response:
    body:
      string: '{"status": "ok", "message": null, "result": {"people": {"82101": {"age":
        {"2026": 56}, "is_tax_unit_head": {"2026": true}, "is_tax_unit_spouse": {"2026":
        false}, "is_tax_unit_dependent": {"2026": false}, "is_disabled": {"2026":
        true}, "is_fully_disabled_service_connected_veteran": {"2026": false}, "real_estate_taxes":
        {"2026": 0}, "rent": {"2026": 4800}, "ssi": {"2026": 0.0}, "veterans_benefits":
        {"2026": 0}, "taxable_pension_income": {"2026": 0}, "employment_income": {"2026":
        0}, "self_employment_income": {"2026": 0}, "rental_income": {"2026": 0}, "social_security":
        {"2026": 10800}, "social_security_survivors": {"2026": 0}, "unemployment_compensation":
        {"2026": 0}, "long_term_capital_gains": {"2026": 0}, "taxable_ira_distributions":
        {"2026": 0}}}, "tax_units": {"main_tax_unit": {"members": ["82101"], "mo_property_tax_credit":
        {"2026": 960.0}}}, "families": {"family": {"members": ["82101"]}}, "households":
        {"household": {"members": ["82101"], "state_code": {"2026": "MO"}}}, "spm_units":
        {"spm_unit": {"members": ["82101"]}}, "marital_units": {}}, "policyengine_bundle":
        {"model_version": "2.9.0", "data_version": null, "dataset": null}}'
    headers:
      content-type:
      - application/json
      x-cloud-trace-context:
      - 4e113d630f32a496c1361465e0f72c26
      x-policyengine-backend:
      - modal
      x-policyengine-primary-backend:
      - modal
      x-policyengine-primary-state:
      - healthy
      x-policyengine-request-id:
      - 680f5e17-6748-42f7-a504-77225d489f6f
      x-policyengine-route-channel:
      - current
    status:
      code: 200
      message: OK
version: 1
