interactions:
- request:
    body: '{"household": {"people": {"82111": {"age": {"2026": 64}, "is_tax_unit_head":
      {"2026": true}, "is_tax_unit_spouse": {"2026": false}, "is_tax_unit_dependent":
      {"2026": false}, "is_disabled": {"2026": null}, "is_fully_disabled_service_connected_veteran":
      {"2026": false}, "real_estate_taxes": {"2026": 1400}, "rent": {"2026": 0}, "ssi":
      {"2026": null}, "veterans_benefits": {"2026": 0}, "taxable_pension_income":
      {"2026": 12000}, "employment_income": {"2026": 0}, "self_employment_income":
      {"2026": 0}, "rental_income": {"2026": 0}, "social_security": {"2026": 0}, "social_security_survivors":
      {"2026": 0}, "unemployment_compensation": {"2026": 0}, "long_term_capital_gains":
      {"2026": 0}, "taxable_ira_distributions": {"2026": 0}}}, "tax_units": {"main_tax_unit":
      {"members": ["82111"], "mo_property_tax_credit": {"2026": null}}}, "families":
      {"family": {"members": ["82111"]}}, "households": {"household": {"members":
      ["82111"], "state_code": {"2026": "MO"}}}, "spm_units": {"spm_unit": {"members":
      ["82111"]}}, "marital_units": {}}, "version": "2.9.0"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://household.api.policyengine.org/us/calculate
  response:
    body:
      string: '{"status": "ok", "message": null, "result": {"people": {"82111": {"age":
        {"2026": 64}, "is_tax_unit_head": {"2026": true}, "is_tax_unit_spouse": {"2026":
        false}, "is_tax_unit_dependent": {"2026": false}, "is_disabled": {"2026":
        false}, "is_fully_disabled_service_connected_veteran": {"2026": false}, "real_estate_taxes":
        {"2026": 1400}, "rent": {"2026": 0}, "ssi": {"2026": 0.0}, "veterans_benefits":
        {"2026": 0}, "taxable_pension_income": {"2026": 12000}, "employment_income":
        {"2026": 0}, "self_employment_income": {"2026": 0}, "rental_income": {"2026":
        0}, "social_security": {"2026": 0}, "social_security_survivors": {"2026":
        0}, "unemployment_compensation": {"2026": 0}, "long_term_capital_gains": {"2026":
        0}, "taxable_ira_distributions": {"2026": 0}}}, "tax_units": {"main_tax_unit":
        {"members": ["82111"], "mo_property_tax_credit": {"2026": 0.0}}}, "families":
        {"family": {"members": ["82111"]}}, "households": {"household": {"members":
        ["82111"], "state_code": {"2026": "MO"}}}, "spm_units": {"spm_unit": {"members":
        ["82111"]}}, "marital_units": {}}, "policyengine_bundle": {"model_version":
        "2.9.0", "data_version": null, "dataset": null}}'
    headers:
      content-type:
      - application/json
      x-cloud-trace-context:
      - 63b7264e8704bbdc1edabe3f0b45cc09;o=1
      x-policyengine-backend:
      - modal
      x-policyengine-primary-backend:
      - modal
      x-policyengine-primary-state:
      - healthy
      x-policyengine-request-id:
      - cf6f26e8-850f-4a99-a61a-2c42f4c2bc36
      x-policyengine-route-channel:
      - current
    status:
      code: 200
      message: OK
version: 1
