interactions:
- request:
    body: '{"household": {"people": {"1": {"age": {"2026": 46}, "is_pregnant": {"2026":
      false}, "ssi_countable_resources": {"2026": 0}, "is_disabled": {"2026": true},
      "employment_income": {"2026": 0}, "self_employment_income": {"2026": 0}, "rental_income":
      {"2026": 0}, "taxable_pension_income": {"2026": 16200}, "social_security": {"2026":
      0}, "unemployment_compensation": {"2026": 0}, "long_term_capital_gains": {"2026":
      0}, "taxable_ira_distributions": {"2026": 0}, "ssi": {"2026": null}, "receives_ssi":
      {"2026": false}, "takes_up_ssi_if_eligible": {"2026": false}, "meets_ssi_disability_criteria":
      {"2026": true}, "is_blind": {"2026": true}, "medicaid": {"2026": null}, "medicaid_category":
      {"2026": null}, "is_optional_senior_or_disabled_for_medicaid": {"2026": null}}},
      "tax_units": {"main_tax_unit": {"members": ["1"]}}, "families": {"family": {"members":
      ["1"]}}, "households": {"household": {"members": ["1"], "state_code": {"2026":
      "MO"}}}, "spm_units": {"spm_unit": {"members": ["1"], "tanf": {"2026": null},
      "receives_tanf": {"2026": false}, "takes_up_tanf_if_eligible": {"2026": false},
      "receives_snap": {"2026": false}, "takes_up_snap_if_eligible": {"2026": false}}},
      "marital_units": {}}, "version": "1.815.1"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://household.api.policyengine.org/us/calculate
  response:
    body:
      string: '{"status": "ok", "message": null, "result": {"people": {"1": {"age":
        {"2026": 46}, "is_pregnant": {"2026": false}, "ssi_countable_resources": {"2026":
        0}, "is_disabled": {"2026": true}, "employment_income": {"2026": 0}, "self_employment_income":
        {"2026": 0}, "rental_income": {"2026": 0}, "taxable_pension_income": {"2026":
        16200}, "social_security": {"2026": 0}, "unemployment_compensation": {"2026":
        0}, "long_term_capital_gains": {"2026": 0}, "taxable_ira_distributions": {"2026":
        0}, "ssi": {"2026": 0.0}, "receives_ssi": {"2026": false}, "takes_up_ssi_if_eligible":
        {"2026": false}, "meets_ssi_disability_criteria": {"2026": true}, "is_blind":
        {"2026": true}, "medicaid": {"2026": 12559.627}, "medicaid_category": {"2026":
        "ADULT"}, "is_optional_senior_or_disabled_for_medicaid": {"2026": true}}},
        "tax_units": {"main_tax_unit": {"members": ["1"]}}, "families": {"family":
        {"members": ["1"]}}, "households": {"household": {"members": ["1"], "state_code":
        {"2026": "MO"}}}, "spm_units": {"spm_unit": {"members": ["1"], "tanf": {"2026":
        0.0}, "receives_tanf": {"2026": false}, "takes_up_tanf_if_eligible": {"2026":
        false}, "receives_snap": {"2026": false}, "takes_up_snap_if_eligible": {"2026":
        false}}}, "marital_units": {}}, "policyengine_bundle": {"model_version": "1.815.1",
        "data_version": null, "dataset": null}}'
    headers:
      content-type:
      - application/json
      x-cloud-trace-context:
      - 3c6fa5946620797da283a98ed40389b2
      x-policyengine-backend:
      - modal
      x-policyengine-primary-backend:
      - modal
      x-policyengine-primary-state:
      - healthy
      x-policyengine-request-id:
      - e561bdae-546b-4cce-b109-3dcac396077a
      x-policyengine-route-channel:
      - current
    status:
      code: 200
      message: OK
version: 1
