{% load static %} {% load filters %}
<span>
  {% for field in form %}
  <div class="field">
    {{ field }} {% if field.help_text %}
    <p class="help">{{ field.help_text }}</p>
    {% endif %} {% for error in field.errors %}
    <p class="help is-danger">{{ error }}</p>
    {% endfor %}
  </div>
  {% endfor %}
  <div class="level">
    <div class="level-left">
      <button id="lang-submit-btn" class="button" type="submit">Update Text</button>
      {% if lang == 'en-us' %}
      <div class="level-item">
        <label class="label">
          Auto-translate to all languages (except excluded)
        </label>
      </div>
      <div class="level-item">
        <div class="control">
          <input type="checkbox" id="auto-translate-check" name="auto_translate_check">
        </div>
      </div>
      {% else %}
      <div class="exclude-auto-control" hidden>
        <div class="level">
          <div class="level-item">
            <label class="label">
              Exclude from auto-translate
            </label>
          </div>
          <div class="level-item">
            <div class="control">
              <input type="checkbox" name="excluded_languages" value="{{ lang }}">
            </div>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
    <div class="level-right">
      <a class="button is-text" href="/api/translations/admin/translation_history/{{ translation.id }}?lang={{ lang }}">
        {{ lang|get_language_name }} History
      </a>
    </div>
  </div>
{% if error_message %} {% include "error.html" %} {% endif %}
</span>