{% load filters %}
<div id="languages">
  {% for lang, form in langs.items %}
  <div class="block">
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <label class="label">Language: {{ lang|get_language_name }}</label>
        </div>
      </div>
      <div class="level-right">
        <div class="level-item">
          {% if updated_dates|get_datetime_label:lang == "Never" %}
          <span class="tag is-Warning"><strong>Never Updated</strong></span>
          {% else %}
          <strong><span class="tag is-Warning utc-date" data-utc-date="{{ updated_dates|get_datetime_label:lang }}">
            {% if translation|get_update_type:lang or lang == "en-us" %}
              Manual
            {% else %}
              Auto
            {% endif %}
            update applied at {{ updated_dates|get_datetime_label:lang }}
          {% endif %}
          </span></strong>
        </div>
      </div>
    </div>
    <form
      id="{{ lang }}"
      hx-post="{{ translation.id }}/{{ lang }}"
      hx-target="#languages"
      hx-swap="outerHTML"
      {% if lang == "en-us" %}
        hx-include="[name='excluded_languages']"
      {% endif %}
    >
      {% include "./lang_form.html" with lang=lang form=form %}
    </form>
  </div>
  {% endfor %}
</div>