interactions:
- request:
    body: '{"household": {"people": {"1701": {"age": {"2026": 30}, "is_full_time_college_student":
      {"2026": false}, "ssi": {"2026": null}, "receives_ssi": {"2026": false}, "takes_up_ssi_if_eligible":
      {"2026": false}, "is_pregnant": {"2026": false}, "is_tax_unit_dependent": {"2026":
      false}, "is_in_secondary_school": {"2026": null}, "employment_income": {"2026":
      3600}, "self_employment_income": {"2026": 0}, "rental_income": {"2026": 0},
      "taxable_pension_income": {"2026": 0}, "social_security": {"2026": 0}, "unemployment_compensation":
      {"2026": 0}, "long_term_capital_gains": {"2026": 0}, "taxable_ira_distributions":
      {"2026": 0}, "child_support_received": {"2026": 0}, "bank_account_assets": {"2026":
      0.0}, "care_expenses": {"2026": 0}, "is_incapable_of_self_care": {"2026": null}},
      "1702": {"age": {"2026": 6}, "is_full_time_college_student": {"2026": false},
      "ssi": {"2026": null}, "receives_ssi": {"2026": false}, "takes_up_ssi_if_eligible":
      {"2026": false}, "is_pregnant": {"2026": false}, "is_tax_unit_dependent": {"2026":
      true}, "is_in_secondary_school": {"2026": false}, "employment_income": {"2026":
      0}, "self_employment_income": {"2026": 0}, "rental_income": {"2026": 0}, "taxable_pension_income":
      {"2026": 0}, "social_security": {"2026": 0}, "unemployment_compensation": {"2026":
      0}, "long_term_capital_gains": {"2026": 0}, "taxable_ira_distributions": {"2026":
      0}, "child_support_received": {"2026": 0}, "bank_account_assets": {"2026": 0.0},
      "care_expenses": {"2026": 0}, "is_incapable_of_self_care": {"2026": null}}},
      "tax_units": {"main_tax_unit": {"members": ["1701", "1702"]}}, "families": {"family":
      {"members": ["1701", "1702"]}}, "households": {"household": {"members": ["1701",
      "1702"], "state_code": {"2026": "MO"}}}, "spm_units": {"spm_unit": {"members":
      ["1701", "1702"], "tanf": {"2026": null}, "receives_tanf": {"2026": false},
      "takes_up_tanf_if_eligible": {"2026": false}, "receives_snap": {"2026": false},
      "takes_up_snap_if_eligible": {"2026": false}, "childcare_expenses": {"2026":
      1200.0}, "mo_tanf": {"2026": null}}}, "marital_units": {}}, "version": "1.794.2"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://household.api.policyengine.org/us/calculate
  response:
    body:
      string: '{"status": "ok", "message": null, "result": {"people": {"1701": {"age":
        {"2026": 30}, "is_full_time_college_student": {"2026": false}, "ssi": {"2026":
        0.0}, "receives_ssi": {"2026": false}, "takes_up_ssi_if_eligible": {"2026":
        false}, "is_pregnant": {"2026": false}, "is_tax_unit_dependent": {"2026":
        false}, "is_in_secondary_school": {"2026": false}, "employment_income": {"2026":
        3600}, "self_employment_income": {"2026": 0}, "rental_income": {"2026": 0},
        "taxable_pension_income": {"2026": 0}[...]
