interactions:
- request:
    body: '{"household": {"people": {"2901": {"age": {"2026": 30}, "is_full_time_college_student":
      {"2026": false}, "is_in_secondary_school": {"2026": null}, "ssi": {"2026": null},
      "receives_ssi": {"2026": false}, "takes_up_ssi_if_eligible": {"2026": false},
      "is_pregnant": {"2026": false}, "is_tax_unit_dependent": {"2026": false}, "bank_account_assets":
      {"2026": 0.0}, "employment_income": {"2026": 9840}, "self_employment_income":
      {"2026": 0}, "rental_income": {"2026": 0}, "taxable_pension_income": {"2026":
      0}, "social_security": {"2026": 0}, "unemployment_compensation": {"2026": 0},
      "long_term_capital_gains": {"2026": 0}, "taxable_ira_distributions": {"2026":
      0}, "child_support_received": {"2026": 0}, "alimony_income": {"2026": 0}, "care_expenses":
      {"2026": 0}, "is_incapable_of_self_care": {"2026": null}}, "2902": {"age": {"2026":
      1}, "is_full_time_college_student": {"2026": false}, "is_in_secondary_school":
      {"2026": false}, "ssi": {"2026": null}, "receives_ssi": {"2026": false}, "takes_up_ssi_if_eligible":
      {"2026": false}, "is_pregnant": {"2026": false}, "is_tax_unit_dependent": {"2026":
      true}, "bank_account_assets": {"2026": 0.0}, "employment_income": {"2026": 0},
      "self_employment_income": {"2026": 0}, "rental_income": {"2026": 0}, "taxable_pension[...]
