interactions:
- request:
    body: '{"household": {"people": {"201": {"age": {"2026": 30}, "is_full_time_college_student":
      {"2026": false}, "is_in_secondary_school": {"2026": false}, "ssi": {"2026":
      null}, "receives_ssi": {"2026": false}, "takes_up_ssi_if_eligible": {"2026":
      false}, "is_pregnant": {"2026": false}, "is_tax_unit_dependent": {"2026": false},
      "care_expenses": {"2026": 0}, "is_incapable_of_self_care": {"2026": null}, "employment_income":
      {"2026": 0}, "self_employment_income": {"2026": 0}, "rental_income": {"2026":
      0}, "taxable_pension_income": {"2026": 0}, "social_security": {"2026": 0}, "unemployment_compensation":
      {"2026": 0}, "long_term_capital_gains": {"2026": 0}, "taxable_ira_distributions":
      {"2026": 0}, "child_support_received": {"2026": 0}, "alimony_income": {"2026":
      0}}}, "tax_units": {"main_tax_unit": {"members": ["201"]}}, "families": {"family":
      {"members": ["201"]}}, "households": {"household": {"members": ["201"], "state_code":
      {"2026": "MO"}}}, "spm_units": {"spm_unit": {"members": ["201"], "tanf": {"2026":
      null}, "receives_tanf": {"2026": false}, "takes_up_tanf_if_eligible": {"2026":
      false}, "receives_snap": {"2026": false}, "takes_up_snap_if_eligible": {"2026":
      false}, "spm_unit_cash_assets": {"2026": 0}, "childcare_expenses": {"2026":
      0.0}, "mo_tanf": {"2026": null}}}, "marital_units": {}}, "version": "1.794.2"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://household.api.policyengine.org/us/calculate
  response:
    body:
      string: '{"status": "ok", "message": null, "result": {"people": {"201": {"age":
        {"2026": 30}, "is_full_time_college_student": {"2026": false}, "is_in_secondary_school":
        {"2026": false}, "ssi": {"2026": 0.0}, "receives_ssi": {"2026": false}, "takes_up_ssi_if_eligible":
        {"2026": false}, "is_pregnant": {"2026": false}, "is_tax_unit_dependent":
        {"2026": false}, "care_expenses": {"2026": 0}, "is_incapable_of_self_care":
        {"2026": false}, "employment_income": {"2026": 0}, "self_employment_income":
        {"2026": 0}, "rental_income": {"2026": 0}, "taxable_pension_income": {"2026":
        0}, "social_security": {"2026": 0}, "unemployment_compensation": {"2026":
        0}, "long_term_capital_gains": {"2026": 0}, "taxable_ira_distributions": {"2026":
        0}, "child_support_received": {"2026": 0}, "alimony_income": {"2026": 0}}},
        "tax_units": {"main_tax_unit": {"members": ["201"]}}, "families": {"family":
        {"members": ["201"]}}, "households": {"household": {"members": ["201"], "state_code":
        {"2026": "MO"}}}, "spm_units": {"spm_unit": {"members": ["201"], "tanf": {"2026":
        0.0}, "receives_tanf": {"2026": false}, "takes_up_tanf_if_eligible": {"2026":
        false}, "receives_snap": {"2026": false}, "takes_up_snap_if_eligible": {"2026":
        false}, "spm_unit_cash_assets": {"2026": 0}, "childcare_expenses": {"2026":
        0.0}, "mo_tanf": {"2026": 0.0}}}, "marital_units": {}}, "policyengine_bundle":
        {"model_version": "1.794.2", "data_version": null, "dataset": null}}'
    headers:
      content-type:
      - application/json
      x-cloud-trace-context:
      - 1a4ca7b7146b93dd30c60da71e0b9c8b
      x-policyengine-backend:
      - modal
      x-policyengine-primary-backend:
      - modal
      x-policyengine-primary-state:
      - healthy
      x-policyengine-request-id:
      - 87caf9b8-81eb-4cf4-9a7d-cbe6b67b0384
      x-policyengine-route-channel:
      - current
    status:
      code: 200
      message: OK
version: 1
