interactions:
- request:
    body: '{"household": {"people": {"301": {"age": {"2026": 30}, "is_pregnant": {"2026":
      false}, "was_in_foster_care": {"2026": null}, "employment_income": {"2026":
      31200}, "self_employment_income": {"2026": 0}, "rental_income": {"2026": 0},
      "taxable_pension_income": {"2026": 0}, "social_security": {"2026": 0}, "unemployment_compensation":
      {"2026": 0}, "long_term_capital_gains": {"2026": 0}, "taxable_ira_distributions":
      {"2026": 0}, "ssi": {"2026": null}, "receives_ssi": {"2026": false}, "takes_up_ssi_if_eligible":
      {"2026": false}, "early_head_start": {"2026": null}}, "302": {"age": {"2026":
      4}, "is_pregnant": {"2026": false}, "was_in_foster_care": {"2026": null}, "employment_income":
      {"2026": 0}, "self_employment_income": {"2026": 0}, "rental_income": {"2026":
      0}, "taxable_pension_income": {"2026": 0}, "social_security": {"2026": 0}, "unemployment_compensation":
      {"2026": 0}, "long_term_capital_gains": {"2026": 0}, "taxable_ira_distributions":
      {"2026": 0}, "ssi": {"2026": null}, "receives_ssi": {"2026": false}, "takes_up_ssi_if_eligible":
      {"2026": false}, "early_head_start": {"2026": null}}, "303": {"age": {"2026":
      1}, "is_pregnant": {"2026": false}, "was_in_foster_care": {"2026": null}, "employment_income":
      {"2026": 0}, "self_employment_income": {"2026": 0}, "rental_income": {"2026":
      0}, "taxable_pension_income": {"2026": 0}, "social_security": {"2026": 0}, "unemployment_compensation":
      {"2026": 0}, "long_term_capital_gains": {"2026": 0}, "taxable_ira_distributions":
      {"2026": 0}, "ssi": {"2026": null}, "receives_ssi": {"2026": false}, "takes_up_ssi_if_eligible":
      {"2026": false}, "early_head_start": {"2026": null}}}, "tax_units": {"main_tax_unit":
      {"members": ["301", "302", "303"]}}, "families": {"family": {"members": ["301",
      "302", "303"]}}, "households": {"household": {"members": ["301", "302", "303"],
      "state_code": {"2026": "MO"}}}, "spm_units": {"spm_unit": {"members": ["301",
      "302", "303"], "tanf": {"2026": null}, "receives_tanf": {"2026": false}, "takes_up_tanf_if_eligible":
      {"2026": false}, "receives_snap": {"2026": false}, "takes_up_snap_if_eligible":
      {"2026": false}}}, "marital_units": {}}, "version": "1.821.2"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://household.api.policyengine.org/us/calculate
  response:
    body:
      string: '{"status": "ok", "message": null, "result": {"people": {"301": {"age":
        {"2026": 30}, "is_pregnant": {"2026": false}, "was_in_foster_care": {"2026":
        false}, "employment_income": {"2026": 31200}, "self_employment_income": {"2026":
        0}, "rental_income": {"2026": 0}, "taxable_pension_income": {"2026": 0}, "social_security":
        {"2026": 0}, "unemployment_compensation": {"2026": 0}, "long_term_capital_gains":
        {"2026": 0}, "taxable_ira_distributions": {"2026": 0}, "ssi": {"2026": 0.0},
        "receives_ssi":[...]
