interactions:
- request:
    body: '{"household": {"people": {"101": {"age": {"2026": 66}, "commodity_supplemental_food_program":
      {"2026": null}}}, "tax_units": {"main_tax_unit": {"members": ["101"]}}, "families":
      {"family": {"members": ["101"]}}, "households": {"household": {"members": ["101"],
      "state_code": {"2026": "MO"}}}, "spm_units": {"spm_unit": {"members": ["101"],
      "school_meal_countable_income": {"2026": 18000.0}}}, "marital_units": {}}, "version":
      "2.5.0"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://household.api.policyengine.org/us/calculate
  response:
    body:
      string: '{"status": "ok", "message": null, "result": {"people": {"101": {"age":
        {"2026": 66}, "commodity_supplemental_food_program": {"2026": 651.0}}}, "tax_units":
        {"main_tax_unit": {"members": ["101"]}}, "families": {"family": {"members":
        ["101"]}}, "households": {"household": {"members": ["101"], "state_code":
        {"2026": "MO"}}}, "spm_units": {"spm_unit": {"members": ["101"], "school_meal_countable_income":
        {"2026": 18000.0}}}, "marital_units": {}}, "policyengine_bundle": {"model_version":
        "2.5.0", "data_version": null, "dataset": null}}'
    headers:
      content-type:
      - application/json
      x-cloud-trace-context:
      - c3198ea42e819e90b65c1a418e5b037d;o=1
      x-policyengine-backend:
      - modal
      x-policyengine-primary-backend:
      - modal
      x-policyengine-primary-state:
      - healthy
      x-policyengine-request-id:
      - 919a4766-b5a1-404d-a185-09e79b194d6c
      x-policyengine-route-channel:
      - current
    status:
      code: 200
      message: OK
version: 1
