interactions:
- request:
    body: '{"household": {"people": {"1301": {"age": {"2026": 66}, "commodity_supplemental_food_program":
      {"2026": null}}}, "tax_units": {"main_tax_unit": {"members": ["1301"]}}, "families":
      {"family": {"members": ["1301"]}}, "households": {"household": {"members": ["1301"],
      "state_code": {"2026": "MO"}}}, "spm_units": {"spm_unit": {"members": ["1301"],
      "school_meal_countable_income": {"2026": 24600.0}}}, "marital_units": {}}, "version":
      "2.5.0"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://household.api.policyengine.org/us/calculate
  response:
    body:
      string: '{"status": "ok", "message": null, "result": {"people": {"1301": {"age":
        {"2026": 66}, "commodity_supplemental_food_program": {"2026": 0.0}}}, "tax_units":
        {"main_tax_unit": {"members": ["1301"]}}, "families": {"family": {"members":
        ["1301"]}}, "households": {"household": {"members": ["1301"], "state_code":
        {"2026": "MO"}}}, "spm_units": {"spm_unit": {"members": ["1301"], "school_meal_countable_income":
        {"2026": 24600.0}}}, "marital_units": {}}, "policyengine_bundle": {"model_version":
        "2.5.0", "data_version": null, "dataset": null}}'
    headers:
      content-type:
      - application/json
      x-cloud-trace-context:
      - 513d7a79c1ee66165bb1a0046266610f
      x-policyengine-backend:
      - modal
      x-policyengine-primary-backend:
      - modal
      x-policyengine-primary-state:
      - healthy
      x-policyengine-request-id:
      - b96a7a41-9f6c-4fc6-9c65-a7c142fd996d
      x-policyengine-route-channel:
      - current
    status:
      code: 200
      message: OK
version: 1
