interactions:
- request:
    body: '{"household": {"people": {"501": {"age": {"2026": 60}, "commodity_supplemental_food_program":
      {"2026": null}}}, "tax_units": {"main_tax_unit": {"members": ["501"]}}, "families":
      {"family": {"members": ["501"]}}, "households": {"household": {"members": ["501"],
      "state_code": {"2026": "MO"}}}, "spm_units": {"spm_unit": {"members": ["501"],
      "school_meal_countable_income": {"2026": 18000.0}}}, "marital_units": {}}, "version":
      "2.5.0"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://household.api.policyengine.org/us/calculate
  response:
    body:
      string: '{"status": "ok", "message": null, "result": {"people": {"501": {"age":
        {"2026": 60}, "commodity_supplemental_food_program": {"2026": 651.0}}}, "tax_units":
        {"main_tax_unit": {"members": ["501"]}}, "families": {"family": {"members":
        ["501"]}}, "households": {"household": {"members": ["501"], "state_code":
        {"2026": "MO"}}}, "spm_units": {"spm_unit": {"members": ["501"], "school_meal_countable_income":
        {"2026": 18000.0}}}, "marital_units": {}}, "policyengine_bundle": {"model_version":
        "2.5.0", "data_version": null, "dataset": null}}'
    headers:
      content-type:
      - application/json
      x-cloud-trace-context:
      - 9bec76c63d65f25f5428b81fa70391fa
      x-policyengine-backend:
      - modal
      x-policyengine-primary-backend:
      - modal
      x-policyengine-primary-state:
      - healthy
      x-policyengine-request-id:
      - f6a8ded5-0cf4-4206-bae8-c5688ee93d58
      x-policyengine-route-channel:
      - current
    status:
      code: 200
      message: OK
version: 1
