interactions:
- request:
    body: '{"household": {"people": {"1601": {"age": {"2026": 66}, "commodity_supplemental_food_program":
      {"2026": null}}, "1602": {"age": {"2026": 68}, "commodity_supplemental_food_program":
      {"2026": null}}}, "tax_units": {"main_tax_unit": {"members": ["1601", "1602"]}},
      "families": {"family": {"members": ["1601", "1602"]}}, "households": {"household":
      {"members": ["1601", "1602"], "state_code": {"2026": "MO"}}}, "spm_units": {"spm_unit":
      {"members": ["1601", "1602"], "school_meal_countable_income": {"2026": 28000.0}}},
      "marital_units": {"1601-1602": {"members": ["1601", "1602"]}}}, "version": "2.5.0"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://household.api.policyengine.org/us/calculate
  response:
    body:
      string: '{"status": "ok", "message": null, "result": {"people": {"1601": {"age":
        {"2026": 66}, "commodity_supplemental_food_program": {"2026": 651.0}}, "1602":
        {"age": {"2026": 68}, "commodity_supplemental_food_program": {"2026": 651.0}}},
        "tax_units": {"main_tax_unit": {"members": ["1601", "1602"]}}, "families":
        {"family": {"members": ["1601", "1602"]}}, "households": {"household": {"members":
        ["1601", "1602"], "state_code": {"2026": "MO"}}}, "spm_units": {"spm_unit":
        {"members": ["1601", "1602"], "school_meal_countable_income": {"2026": 28000.0}}},
        "marital_units": {"1601-1602": {"members": ["1601", "1602"]}}}, "policyengine_bundle":
        {"model_version": "2.5.0", "data_version": null, "dataset": null}}'
    headers:
      content-type:
      - application/json
      x-cloud-trace-context:
      - 0634b2afbe0da7158cec86fbb0dccbc3
      x-policyengine-backend:
      - modal
      x-policyengine-primary-backend:
      - modal
      x-policyengine-primary-state:
      - healthy
      x-policyengine-request-id:
      - a0e6ddfe-ea16-4dc7-818b-e57fd416055a
      x-policyengine-route-channel:
      - current
    status:
      code: 200
      message: OK
version: 1
