interactions:
- request:
    body: '{"household": {"people": {"1101": {"age": {"2026": 66}, "commodity_supplemental_food_program":
      {"2026": null}}}, "tax_units": {"main_tax_unit": {"members": ["1101"]}}, "families":
      {"family": {"members": ["1101"]}}, "households": {"household": {"members": ["1101"],
      "state_code": {"2026": "MO"}}}, "spm_units": {"spm_unit": {"members": ["1101"],
      "school_meal_countable_income": {"2026": 24600.0}}}, "marital_units": {}}, "version":
      "2.5.0"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://household.api.policyengine.org/us/calculate
  response:
    body:
      string: '{"status": "ok", "message": null, "result": {"people": {"1101": {"age":
        {"2026": 66}, "commodity_supplemental_food_program": {"2026": 0.0}}}, "tax_units":
        {"main_tax_unit": {"members": ["1101"]}}, "families": {"family": {"members":
        ["1101"]}}, "households": {"household": {"members": ["1101"], "state_code":
        {"2026": "MO"}}}, "spm_units": {"spm_unit": {"members": ["1101"], "school_meal_countable_income":
        {"2026": 24600.0}}}, "marital_units": {}}, "policyengine_bundle": {"model_version":
        "2.5.0", "data_version": null, "dataset": null}}'
    headers:
      content-type:
      - application/json
      x-cloud-trace-context:
      - db414a0449b45b4fac7bc03503ac95d5
      x-policyengine-backend:
      - modal
      x-policyengine-primary-backend:
      - modal
      x-policyengine-primary-state:
      - healthy
      x-policyengine-request-id:
      - 63a3fec1-2db8-4dbd-aec9-e7f6426a6eda
      x-policyengine-route-channel:
      - current
    status:
      code: 200
      message: OK
version: 1
