interactions:
- request:
    body: '{"household": {"people": {"201": {"age": {"2026": 68}, "is_medicare_eligible":
      {"2026": null}, "social_security_disability": {"2026": 0.0}, "ssi_earned_income":
      {"2026": 0}, "ssi_unearned_income": {"2026": 23940}, "medicare_quarters_of_coverage":
      {"2026": 40}, "is_medicaid_eligible": {"2026": null}, "ssi": {"2026": null},
      "receives_ssi": {"2026": false}, "takes_up_ssi_if_eligible": {"2026": false},
      "commodity_supplemental_food_program": {"2026": null}}}, "tax_units": {"main_tax_unit":
      {"members": ["201"]}}, "families": {"family": {"members": ["201"]}}, "households":
      {"household": {"members": ["201"], "state_code": {"2026": "KS"}, "county_str":
      {"2026": "SEDGWICK_COUNTY_KS"}}}, "spm_units": {"spm_unit": {"members": ["201"],
      "school_meal_countable_income": {"2026": 23940.0}, "spm_unit_cash_assets": {"2026":
      0}, "tanf": {"2026": null}, "receives_tanf": {"2026": false}, "takes_up_tanf_if_eligible":
      {"2026": false}, "receives_snap": {"2026": false}, "takes_up_snap_if_eligible":
      {"2026": false}}}, "marital_units": {}}, "version": "2.5.0"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://household.api.policyengine.org/us/calculate
  response:
    body:
      string: '{"status": "ok", "message": null, "result": {"people": {"201": {"age":
        {"2026": 68}, "is_medicare_eligible": {"2026": true}, "social_security_disability":
        {"2026": 0.0}, "ssi_earned_income": {"2026": 0}, "ssi_unearned_income": {"2026":
        23940}, "medicare_quarters_of_coverage": {"2026": 40}, "is_medicaid_eligible":
        {"2026": false}, "ssi": {"2026": 0.0}, "receives_ssi": {"2026": false}, "takes_up_ssi_if_eligible":
        {"2026": false}, "commodity_supplemental_food_program": {"2026": 651.0}}},
        "tax_units": {"main_tax_unit": {"members": ["201"]}}, "families": {"family":
        {"members": ["201"]}}, "households": {"household": {"members": ["201"], "state_code":
        {"2026": "KS"}, "county_str": {"2026": "SEDGWICK_COUNTY_KS"}}}, "spm_units":
        {"spm_unit": {"members": ["201"], "school_meal_countable_income": {"2026":
        23940.0}, "spm_unit_cash_assets": {"2026": 0}, "tanf": {"2026": 0.0}, "receives_tanf":
        {"2026": false}, "takes_up_tanf_if_eligible": {"2026": false}, "receives_snap":
        {"2026": false}, "takes_up_snap_if_eligible": {"2026": false}}}, "marital_units":
        {}}, "policyengine_bundle": {"model_version": "2.5.0", "data_version": null,
        "dataset": null}}'
    headers:
      content-type:
      - application/json
      x-cloud-trace-context:
      - 751ad364786458c16a05db50ddcb14c2;o=1
      x-policyengine-backend:
      - modal
      x-policyengine-primary-backend:
      - modal
      x-policyengine-primary-state:
      - healthy
      x-policyengine-request-id:
      - b541bcc5-66ee-40ba-9e55-f80f4a0515d5
      x-policyengine-route-channel:
      - current
    status:
      code: 200
      message: OK
version: 1
