interactions:
- request:
    body: '{"household": {"people": {"1501": {"age": {"2026": 68}, "is_medicare_eligible":
      {"2026": null}, "social_security_disability": {"2026": 0.0}, "ssi_earned_income":
      {"2026": 0}, "ssi_unearned_income": {"2026": 24000}, "medicare_quarters_of_coverage":
      {"2026": 40}, "is_medicaid_eligible": {"2026": null}, "ssi": {"2026": null},
      "receives_ssi": {"2026": false}, "takes_up_ssi_if_eligible": {"2026": false},
      "commodity_supplemental_food_program": {"2026": null}}, "1502": {"age": {"2026":
      40}, "is_medicare_eligible": {"2026": null}, "social_security_disability": {"2026":
      0.0}, "ssi_earned_income": {"2026": 19200}, "ssi_unearned_income": {"2026":
      10800}, "medicare_quarters_of_coverage": {"2026": 40}, "is_medicaid_eligible":
      {"2026": null}, "ssi": {"2026": 10800.0}, "receives_ssi": {"2026": true}, "takes_up_ssi_if_eligible":
      {"2026": true}, "commodity_supplemental_food_program": {"2026": null}}}, "tax_units":
      {"main_tax_unit": {"members": ["1501"]}, "secondary_tax_unit": {"members": ["1502"]}},
      "families": {"family": {"members": ["1501", "1502"]}}, "households": {"household":
      {"members": ["1501", "1502"], "state_code": {"2026": "KS"}, "county_str": {"2026":
      "SEDGWICK_COUNTY_KS"}}}, "spm_units": {"spm_unit": {"members": ["1501", "1502"],
      "school_meal_countable_income": {"2026": 54000.0}, "spm_unit_cash_assets": {"2026":
      0}, "tanf": {"2026": null}, "receives_tanf": {"2026": false}, "takes_up_tanf_if_eligible":
      {"2026": false}, "receives_snap": {"2026": false}, "takes_up_snap_if_eligible":
      {"2026": false}}}, "marital_units": {}}, "version": "2.5.0"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://household.api.policyengine.org/us/calculate
  response:
    body:
      string: '{"status": "ok", "message": null, "result": {"people": {"1501": {"age":
        {"2026": 68}, "is_medicare_eligible": {"2026": true}, "social_security_disability":
        {"2026": 0.0}, "ssi_earned_income": {"2026": 0}, "ssi_unearned_income": {"2026":
        24000}, "medicare_quarters_of_coverage": {"2026": 40}, "is_medicaid_eligible":
        {"2026": false}, "ssi": {"2026": 0.0}, "receives_ssi": {"2026": false}, "takes_up_ssi_if_eligible":
        {"2026": false}, "commodity_supplemental_food_program": {"2026": 0.0}}, "1502":
       [...]
