interactions:
- request:
    body: '{"household": {"people": {"801": {"age": {"2026": 66}, "commodity_supplemental_food_program":
      {"2026": null}}}, "tax_units": {"main_tax_unit": {"members": ["801"]}}, "families":
      {"family": {"members": ["801"]}}, "households": {"household": {"members": ["801"],
      "state_code": {"2026": "MO"}}}, "spm_units": {"spm_unit": {"members": ["801"],
      "school_meal_countable_income": {"2026": 24600.0}}}, "marital_units": {}}, "version":
      "2.5.0"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://household.api.policyengine.org/us/calculate
  response:
    body:
      string: '{"status": "ok", "message": null, "result": {"people": {"801": {"age":
        {"2026": 66}, "commodity_supplemental_food_program": {"2026": 0.0}}}, "tax_units":
        {"main_tax_unit": {"members": ["801"]}}, "families": {"family": {"members":
        ["801"]}}, "households": {"household": {"members": ["801"], "state_code":
        {"2026": "MO"}}}, "spm_units": {"spm_unit": {"members": ["801"], "school_meal_countable_income":
        {"2026": 24600.0}}}, "marital_units": {}}, "policyengine_bundle": {"model_version":
        "2.5.0", "data_version": null, "dataset": null}}'
    headers:
      content-type:
      - application/json
      x-cloud-trace-context:
      - d603b33624856c73a4fe36391eb620ce
      x-policyengine-backend:
      - modal
      x-policyengine-primary-backend:
      - modal
      x-policyengine-primary-state:
      - healthy
      x-policyengine-request-id:
      - ead9f336-2b22-42cc-9051-a6f2f076e57f
      x-policyengine-route-channel:
      - current
    status:
      code: 200
      message: OK
version: 1
