interactions:
- request:
    body: '{"household": {"people": {"1001": {"age": {"2026": 66}, "commodity_supplemental_food_program":
      {"2026": null}}}, "tax_units": {"main_tax_unit": {"members": ["1001"]}}, "families":
      {"family": {"members": ["1001"]}}, "households": {"household": {"members": ["1001"],
      "state_code": {"2026": "MO"}}}, "spm_units": {"spm_unit": {"members": ["1001"],
      "school_meal_countable_income": {"2026": 24600.0}}}, "marital_units": {}}, "version":
      "2.5.0"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://household.api.policyengine.org/us/calculate
  response:
    body:
      string: '{"status": "ok", "message": null, "result": {"people": {"1001": {"age":
        {"2026": 66}, "commodity_supplemental_food_program": {"2026": 0.0}}}, "tax_units":
        {"main_tax_unit": {"members": ["1001"]}}, "families": {"family": {"members":
        ["1001"]}}, "households": {"household": {"members": ["1001"], "state_code":
        {"2026": "MO"}}}, "spm_units": {"spm_unit": {"members": ["1001"], "school_meal_countable_income":
        {"2026": 24600.0}}}, "marital_units": {}}, "policyengine_bundle": {"model_version":
        "2.5.0", "data_version": null, "dataset": null}}'
    headers:
      content-type:
      - application/json
      x-cloud-trace-context:
      - 841a32ba1ad2c7f330d265230104c217;o=1
      x-policyengine-backend:
      - modal
      x-policyengine-primary-backend:
      - modal
      x-policyengine-primary-state:
      - healthy
      x-policyengine-request-id:
      - e999cc16-e916-410e-bbf5-7664e94e15be
      x-policyengine-route-channel:
      - current
    status:
      code: 200
      message: OK
version: 1
