interactions:
- request:
    body: '{"household": {"people": {"201": {"age": {"2026": 59}, "commodity_supplemental_food_program":
      {"2026": null}}}, "tax_units": {"main_tax_unit": {"members": ["201"]}}, "families":
      {"family": {"members": ["201"]}}, "households": {"household": {"members": ["201"],
      "state_code": {"2026": "MO"}}}, "spm_units": {"spm_unit": {"members": ["201"],
      "school_meal_countable_income": {"2026": 18000.0}}}, "marital_units": {}}, "version":
      "2.5.0"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://household.api.policyengine.org/us/calculate
  response:
    body:
      string: '{"status": "ok", "message": null, "result": {"people": {"201": {"age":
        {"2026": 59}, "commodity_supplemental_food_program": {"2026": 0.0}}}, "tax_units":
        {"main_tax_unit": {"members": ["201"]}}, "families": {"family": {"members":
        ["201"]}}, "households": {"household": {"members": ["201"], "state_code":
        {"2026": "MO"}}}, "spm_units": {"spm_unit": {"members": ["201"], "school_meal_countable_income":
        {"2026": 18000.0}}}, "marital_units": {}}, "policyengine_bundle": {"model_version":
        "2.5.0", "data_version": null, "dataset": null}}'
    headers:
      content-type:
      - application/json
      x-cloud-trace-context:
      - 077abac7ea3d3cb1f188c2b8b451e00d
      x-policyengine-backend:
      - modal
      x-policyengine-primary-backend:
      - modal
      x-policyengine-primary-state:
      - healthy
      x-policyengine-request-id:
      - 8c6ff251-bb16-4137-8679-7dd8e28b7426
      x-policyengine-route-channel:
      - current
    status:
      code: 200
      message: OK
version: 1
