interactions:
- request:
    body: '{"household": {"people": {"1401": {"age": {"2026": 66}, "commodity_supplemental_food_program":
      {"2026": null}}}, "tax_units": {"main_tax_unit": {"members": ["1401"]}}, "families":
      {"family": {"members": ["1401"]}}, "households": {"household": {"members": ["1401"],
      "state_code": {"2026": "MO"}}}, "spm_units": {"spm_unit": {"members": ["1401"],
      "school_meal_countable_income": {"2026": 18000.0}}}, "marital_units": {}}, "version":
      "2.5.0"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://household.api.policyengine.org/us/calculate
  response:
    body:
      string: '{"status": "ok", "message": null, "result": {"people": {"1401": {"age":
        {"2026": 66}, "commodity_supplemental_food_program": {"2026": 651.0}}}, "tax_units":
        {"main_tax_unit": {"members": ["1401"]}}, "families": {"family": {"members":
        ["1401"]}}, "households": {"household": {"members": ["1401"], "state_code":
        {"2026": "MO"}}}, "spm_units": {"spm_unit": {"members": ["1401"], "school_meal_countable_income":
        {"2026": 18000.0}}}, "marital_units": {}}, "policyengine_bundle": {"model_version":
        "2.5.0", "data_version": null, "dataset": null}}'
    headers:
      content-type:
      - application/json
      x-cloud-trace-context:
      - 1287e9039baf2d45005cdf3e21a4c698
      x-policyengine-backend:
      - modal
      x-policyengine-primary-backend:
      - modal
      x-policyengine-primary-state:
      - healthy
      x-policyengine-request-id:
      - ef8f493f-1ff9-42d4-9563-bb0aa806fd6c
      x-policyengine-route-channel:
      - current
    status:
      code: 200
      message: OK
version: 1
